{% extends 'base/webtv_header.html'%}
{% block content %}


    <div class="scroll">
        <marquee class="vertical-center" behavior="scroll" direction="left">{{scroll}}</marquee>
    </div>
    <div class="status">
        <div class="vertical-center">
            選擇預約 Select appointment
        </div>
    </div>
    
    <div class="status">
        <div class="vertical-center">
            現在時間: {{lastupdate}}
        </div>
    </div>

    <div id="calling_area">
    {% for ticketrow in ticketlist %}     
   
        <div class="container_calling">
            <div class="ticketno">
                {{ticketrow.tickettype}}{{ticketrow.ticketnumber}}
            </div>

            <i class="arrow icofont-circled-right icofont-3x"></i>
          
            <div class="counter">
                <div class="countertype" >
                    <div class="countertext">{{ticketrow.ct_lang1}}</div>
                    <div class="countertext">{{ticketrow.ct_lang2}}</div>
                </div>
                <div class="counternumber">{{ticketrow.counternumber}}</div>
            </div>
            
            <div class="numberCircle">
                {{ticketrow.wait}}
            </div>  
        </div>

    {% endfor %}
    {% for ts in timeslots %}
        <div class="container_booking">
            <div class="booking">
                <div class="bookingtype" >
                    <div class="bookingtext">{{ts.date}}</div>
                    <div class="bookingtext right">{{ts.week}}</div>
                    <div class="counternumber">{{ts.time}}</div>
                </div>
                
            </div>
            <div class="booking">
                <a href="{% url 'appointment-details' ts.id %}" class="buttonbooking">
                    <div class="buttonbooking_text">預約</div>                
                </a>
            </div>
        </div>
    {% endfor %}
     

    <div class="powered">Powered by tsvd.com.hk</div>

    


{% endblock content %}
