{% extends 'base/webtv_header.html'%}
{% block content %}
    <div class="scroll">
        <marquee class="vertical-center" behavior="scroll" direction="left">{{scroll}}</marquee>
    </div>
    <div class="status">
        <div class="vertical-center">
            預約時間 Appointment time
        </div>
    </div>

    <div class="container_booking_detail">
        <div class="booking"></div>
        <div class="booking">
            <div class="bookingtype" >
                <div class="bookingtext">{{date}}</div>
                <div class="bookingtext right">{{week}}</div>                
            </div>
            <div class="bookingtime">{{time}}</div>
        </div>
        <div class="booking"></div>
    </div>

    <div class="booking_text_container">
        <div class="booking_text_container_sub">
            <label class="booking_text booking_text_color">{{text}}</label>
        </div>
    </div>

    <form class="form" action="" method="POST" >
        {% csrf_token %}
        <div class="booking_form_container">
            <div class="form__group">
                <label for="name">稱呼 :</label>
                <input type="text" name="name" value="{{name}}">
            </div>
            <div class="form__group">
                <label for="mphone">手機號碼 :</label>
                <input type="text" name="mphone" value="{{mphone}}">
            </div>
            <div class="form__group">
                <label for="email">電郵 :</label>
                <input type="text" name="email" value="{{email}}">
            </div>
            <div class="form__action">
                <a class="button_form"  href="{% url 'booking' bcode %}" >取消</a>
                <button class="button_form"  type="submit" name="action" value="submit_booknow"  >確定</button>
            </div>
        </div>
    </form>

    <div class="powered">Powered by tsvd.com.hk</div>

{% endblock content %}

