{% load static %}
{% load tz %}
<div id="booking_list" class="roomArea">
    <form class="booking_form" action="" method="POST">
        {% csrf_token %}       
            {% for bk in bookings %}
                <a id="booking-{{ bk.pk }}" class="booking_row" href="{% url 'bookingupdate' bk.pk %}">
                    <div>
                        <div class="booking_date_text">
                            {{ bk.timeslot.start_date|timezone:bk.branch.timezone|date:'Y-m-d' }}                        
                        </div>
                        <div class="booking_date_text">
                            {{ bk.timeslot.start_date|timezone:bk.branch.timezone|date:'H:i' }}
                            {{ bk.timeslot.start_date|timezone:bk.branch.timezone|date:'(D)' }}
                        </div>
                    </div>
                    <div class="booking_branch_text">
                        {{ bk.branch.name }}
                    </div>
                    <div class="booking_branch_text">
                        {{ bk.name }}
                    </div>
                    <div class="booking_branch_text">
                        {{ bk.mobilephone }}
                        {{ bk.email }}
                    </div>
                    <div id="status-{{ bk.pk }}" hidden>
                        {{ bk.status }}
                    </div>
                    <div id="bookingtoqueue-{{ bk.pk }}" hidden>
                        {{ bk.bookingtoqueue }}
                    </div>                    
                    <div id="key_area-{{ bk.pk }}" class="booking_key_area">

                    </div>
                </a>
            {% endfor %}
    </form>
</div>


    
<script>
    var status_null_key_html = `
            <div>
                <div>Null</div>
            </div>
    `
    var status_new_key_html = `
            <div class="booking_new">
                New
            </div>
            <div>
                <button type="submit" name="confirm" value="[[pk]]" class="booking_key" >Confirm</button>
            </div>
            <div>
                <button type="submit" name="reject" value="[[pk]]"  class="booking_key booking_key_reject" >Reject</button>
            </div>
    `
    var status_confirmed_key_html = `
            <div>
                <button type="submit" name="arrive" value="[[pk]]" class="booking_key"  >Arrive</button>
            </div>
            <div>
                <button type="submit" name="noshow" value="[[pk]]" class="booking_key"  >No Show</button>
            </div>
    `
    var status_start_key_html = `
            <div>
                <button type="submit" name="start" value="[[pk]]" class="booking_key"  >Start</button>
            </div>
    `
    var status_queue_key_html = `
            <div>
                <button type="submit" name="queue" value="[[pk]]" class="booking_key"  >Queue</button>
            </div>
    `
    var status_startontime_key_html = `
            <div>
                <button type="submit" name="start_ontime" value="[[pk]]" class="booking_key"  >Start (force on time)</button>
            </div>
    `    
    var status_queueontime_key_html = `
            <div>
                <button type="submit" name="queue_ontime" value="[[pk]]" class="booking_key"  >Queue (force on time)</button>
            </div>
    `    
    var status_arrived_late_key_html = `
            <div>
                <button type="submit" name="start" value="[[pk]]" class="booking_key"  >Start</button>
            </div>
            <div>
                <button type="submit" name="queue" value="[[pk]]" class="booking_key"  >Queue</button>
            </div>
            <div>
                <button type="submit" name="start" value="[[pk]]" class="booking_key booking_key_reject"  >Start force Ontime</button>
            </div>
            <div>
                <button type="submit" name="queue" value="[[pk]]" class="booking_key booking_key_reject"  >Queue force Ontime</button>
            </div>            
    `
    var status_started_key_html = `
            <div>
                <div>
                    <button type="submit" name="complete" value="[[pk]]" class="booking_key"  >Complete</button>
                </div>
            </div>
    `
    var status_noshow_key_html = `
            <div>
                <div>No Show</div>
            </div>
    `
    var status_queue_key_html = `
            <div>On queue</div>
            <div>
                <button type="submit" name="softkey" value="[[pk]]" class="booking_key"  >Goto Softkey</button>
            </div>
    `    
    var status_rejected_key_html = `
            <div>
                <div>Rejected</div>
            </div>
    `
    var status_cancelled_key_html = `
            <div>
                <div>Cancelled by customer</div>
            </div>
    `
    var status_completed_key_html = `
            <div>
                <div>Completed</div>
            </div>
    `

//    get all id is key_area_{{ bk.pk }} and get the {{ bk.pk }}
    var booking_list = document.getElementById("booking_list");
    var rows = document.getElementsByClassName("booking_row");
    // var bk_pk = new Array(rows.length);
    
    for (var i = 0; i < rows.length; i++) {
        var pk = rows[i].id.split("-")[1];
        var status = document.getElementById("status-" + pk).innerHTML;
        // remove all spaces in status
        status = status.replace(/\s/g, '');
        var bookingtoqueue = document.getElementById("bookingtoqueue-" + pk).innerHTML;
        // remove all spaces in status
        bookingtoqueue = bookingtoqueue.replace(/\s/g, '');
        var lated = document.getElementById("lated-" + pk).innerHTML;
        // remove all spaces in status
        lated = lated.replace(/\s/g, '');        
        // bk_pk[i] = pk;
        
        var key_area = "";
        if (status == "new") {
            key_area = status_new_key_html ;
        } else if (status == "confirmed") {

            key_area = status_confirmed_key_html ;            
            // if (bookingtoqueue == "True") {
            //     key_area = status_confirmed_key_html ;
            // } else {
            //     key_area = status_confirmed_noqueue_key_html ;
            // }
        } else if (status == "arrived") {
            key_area = status_start_key_html ;
            if (bookingtoqueue == "False") {
                key_area = key_area + status_queue_key_html ;
            }
            if (lated == "True") {
                key_area = key_area + status_startonline_key_html ;
                if (bookingtoqueue == "False") {
                    key_area = key_area + status_queueonline_key_html ;                
                }
            }
        } else if (status == "rejected") {
            key_area = status_rejected_key_html ;
        } else if (status == "cancelled") {
            key_area = status_cancelled_key_html ;
        } else if (status == "completed") {
            key_area = status_completed_key_html ;
        } else if (status == "started" || status == "late") {
            key_area = status_started_key_html ;
        } else if (status == "noshow") {
            key_area = status_noshow_key_html ;
        } else if (status == "queue") {
            key_area = status_queue_key_html ;
        } else {
            key_area = status_null_key_html ;            
        }
        // replace all [[pk]] to pk
        key_area = key_area.replace(/\[\[pk\]\]/g, pk);

        document.getElementById("key_area-" + pk).innerHTML = key_area;
        
    }







    // var qlist = document.getElementsByClassName("qlist_container");


    // for (var i = 0; i < qlist.length; i++) {
    //     qlist[i].style.display = "none";
    // }
</script>