{% load static %}
{% load tz %}
<div class="roomArea">
{% for temp in timeslottemplist %}

    <a href="{% url 'temp-update' temp.id %}" >
    <div class="roomListRoom" >

        <div class="roomListRoom__header">
            
            <div class="roomListRoom__author">               
                
                <div class="list__svg">
                    {% include 'base/images/timeslot.svg' %}
                </div>
                
                {% if temp.enabled == True %}
                    <span>{{temp.name }}</span>
                {% else %}
                    <span>{{temp.name}} (Disabled)</span>
                    <!-- <span>{{temp.start_date|timezone:temp.branch.timezone|date:'Y-m-d H:i' }} (Disabled)</span> -->
                {% endif %}
                    
            </div>
            <div class="roomListRoom__actions">
                <span>Items: {{ temp.items.count }}</span>
            </div>
        </div>
        <div class="roomListRoom__content">
            {% if temp.sunday == True %}
                Sun,
            {% endif %}
            {% if temp.monday == True %}
                Mon,
            {% endif %}
            {% if temp.tuesday == True %}
                Tue,
            {% endif %}
            {% if temp.wednesday == True %}
                Wed,
            {% endif %}
            {% if temp.thursday == True %}
                Thu,
            {% endif %}
            {% if temp.friday == True %}
                Fri,
            {% endif %}
            {% if temp.saturday == True %}
                Sat,
            {% endif %}
        </div>
        <div class="roomListRoom__meta">
            <div class="roomListRoom__joined">

                {% include 'base/images/branch.svg' %}

                Branch:
                {{temp.branch.bcode}}
            </div>

            {% if temp.enabled == False %}
                <p class="roomListRoom__topic_red">
                    Disabled
                </p>
            {% else %}
                <p class="roomListRoom__topic">
                    Enabled
                </p>
            {% endif %}            
        </div>
    </div>
    </a>

{% endfor %}


</div>