{% load static %}
{% load tz %}
<div class="roomArea">
{% for ts in timeslots %}
    {% if ts.active == True %}
    <a href="{% url 'ts-update' ts.id %}" >
    <div class="roomListRoom" >
    {% else %}
    <a href="{% url 'ts-update' ts.id %}">
    <div class="roomListRoom__hide">
    {% endif %}

        <div class="roomListRoom__header">
            
            <div class="roomListRoom__author">               
                
                <div class="list__svg">
                    {% include 'base/images/timeslot.svg' %}
                </div>
                
                {% if ts.enabled == True %}
                    <span>{{ts.start_date|timezone:ts.branch.timezone|date:'Y-m-d H:i' }}</span>
                {% else %}
                    <span>{{ts.start_date|timezone:ts.branch.timezone|date:'Y-m-d H:i' }} (Disabled)</span>
                {% endif %}
                    
            </div>
            <div class="roomListRoom__actions">
                <span>Slots: {{ ts.slot_using }} / {{ts.slot_total}}</span>
            </div>
        </div>
        <div class="roomListRoom__content">
            Show from: {{ts.show_date|timezone:ts.branch.timezone|date:'Y-m-d H:i'}} >> {{ts.show_end_date|timezone:ts.branch.timezone|date:'Y-m-d H:i'}} 

        </div>
        <div class="roomListRoom__meta">
            <div class="roomListRoom__joined">

                {% include 'base/images/branch.svg' %}

                Branch:
                {{ts.branch.bcode}}
            </div>

            {% if ts.active == False %}
                <p class="roomListRoom__topic_red">
                    Dis-active
                </p>
            {% else %}
                <p class="roomListRoom__topic">
                    Active
                </p>
            {% endif %}            
        </div>
    </div>
    </a>

{% endfor %}


</div>