
      
        Dear {{ member.username }},

        Thank you for registering with us! We're excited to have you join our community. To ensure the security of your account, we need to verify your email address.

        Please click the link below to verify your account:

        Verify Your Account

        If the link doesn't work, you can also copy and paste the following URL into your web browser:

        {{ url }}

        Once your account is verified, you'll have full access to all the features and benefits of our platform.

        If you didn't create an account with us, please ignore this email.

        Thank you,
        {{ company.name }}
