@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

:root {
  --merlot: #000080;   /* blue (navy) */
  --crimson: #0047ab;  /* blue (cobalt) */
  /* --color_header_background:#e4e4e4; */
  --color_header_background:#ffffff;
  --color_status_background: rgb(0, 55, 100);
  --color_calling_background: rgb(241, 241, 241);
  --color_myticket_background: lemonchiffon;
  --color_cancel_background: lemonchiffon;
  --color_cancel_back_background: rgb(56, 61, 82);
  --color_touchkey_background: #001F4A;
  --color_touchkey_text: #FD5F00;
  
}
* {
    box-sizing : border-box;
    margin:0;
    padding: 0;
    background-color: #f0f0f0;
    /* background-color:#D9FDFE; */
}

header {
    display: flex ;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    padding: 30px 10%;
    background-color: var(--color_header_background);
}

.logo {
    height: 50px;
    margin-right: auto;
    /* background-color: var(--color_header_background); */
    background: none;
}



.reload {
    width:30px;
    margin-left: auto;
    padding: 5px 0px 0px 0px;
    /* background-color: var(--color_header_background); */
    background: none;
    cursor:pointer;
}

.status {
    display: flex ;
    justify-content: space-evenly;
    height: 30px;
    position: relative;
    color:#f1f1f1;
    background-color:var(--color_status_background);
    
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    /* text-decoration: none; */
    /* text-align: center; */

}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%); 
    transform: translateY(-50%);

    background: none;


  }


.updatetime {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 8px;
    text-align:right;
    padding: 10px 0px 0px 0px;
    color:grey;
    /* background-color: var(--color_header_background); */
    background: none;
}

.col1 {
    display: grid;
    grid-template-columns: 1fr;

    /* justify-content: flex-end; */
    align-items: right;
    background-color: var(--color_header_background);
  }
  
.container_calling {
    height:58px;
    /* line-height:58px; */
    width:90% ;
    /* display:inline-flex; */
    margin: 10px 0px 10px 5%;
    /* min-width:45%; */
    /* max-width: 500px; */
    /* align-content:center; */
    /* position:relative; */
    background-color: var(--color_calling_background);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.132);
    border-radius:20px 20px 20px 20px;
    /* padding:8px 13px 10px 13px; */
    display:flex;
    /* border-style:ridge;
    border-color: black; */
    align-items: center;
    justify-content:space-between;
    padding: 5px 10% 5px;
  }

.ticketno {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 1000;
    font-size: 46px;
    text-decoration: none;
    text-align: center;
    color: rgb(56, 61, 82);
    /* background-color: var(--color_calling_background); */
    background: none;
    margin-top: -7px;
}
.tickettime {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 10px;
    text-align:center;
    /* padding: 0px 0px 0px 0px; */
    margin: -8px;
    color:grey;
    /* background-color:aqua; */
    background: none;
}
.counter {
    background: none;
    margin-top: 5px;
}
.countertype {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    color: rgb(80, 80, 80);
    /* background-color: var(--color_calling_background); */
    background: none;
    /* margin-top: -5px; */
    margin-bottom: -10px;
}
.counternumber {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 1000;
    font-size: 36px;
    text-decoration: none;
    text-align: center;
    color: rgb(80, 80, 80);
    /* background-color: var(--color_calling_background); */
    background: none;
    margin-top: -5px;
}

.powered {
    color:#949494;
    font-size:10px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight:400;
    text-align: center;
    /* margin: -5px 0px 10px 0px; */
     margin: 5px 0px 10px 0px;
}

.container_myticket_main {
    border-style:ridge;
    border-color: rgb(238, 226, 120);
    border-width: 3px;
    margin: 0 0 10px ;
}
.container_myticket {
    height:80px;
    /* line-height:58px; */
    width:100% ;
    /* display:inline-flex; */
    /* margin: 10px 0px 10px 5%; */
    /* min-width:45%; */
    /* max-width: 500px; */
    /* align-content:center; */
    /* position:relative; */
    background-color: var(--color_myticket_background);
    /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.132); */
    /* border-radius:20px 20px 20px 20px; */
    /* padding:8px 13px 10px 13px; */
    display:flex;
    
    align-items: center;
    justify-content:space-between;
    padding: 10px  ;
}

.container_status {
    background: none;
    margin-top: -5px;
}
.statustype {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    text-align: left;
    color: rgb(80, 80, 80);
    /* background-color: var(--color_calling_background); */
    background: none;
    /* margin-top: -5px; */
    margin-bottom: -5px;
}
.statustext {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 1000;
    font-size: 16px;
    text-decoration: none;
    text-align: left;
    color: rgb(80, 80, 80);
    /* background-color: var(--color_calling_background); */
    background: none;
    margin-top: 5px;
}


.buttoncancel  {
    width: 100px;
    height: 40px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 16px;
    cursor:pointer;
    color: rgb(255, 255, 255);
    background-color: crimson;
    border-radius:6px;
    text-align: center;
    /* margin-top: 10px; */
    padding: 8px 0 0 ;
    text-decoration: none;

}
.buttoncancel:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.msgerror {
    height:auto;
    /* min-height: 30px; */
    color:rgb(255, 0, 0);
    background-color: rgb(43, 62, 71);
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.msgsuccess {
    height:auto;
    /* min-height: 30px; */
    color: rgb(0, 255, 50);
    background-color: rgb(43, 62, 71);
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.cancel_container {
    display: grid;
    grid-template-columns: 1fr;
    height:400px;
    /* line-height:58px; */
    width:90% ;
    /* display:inline-flex; */
    margin: 10px 0px 10px 5%;
    /* min-width:45%; */
    /* max-width: 500px; */
    /* align-content:center; */
    /* position:relative; */
    background-color: var(--color_cancel_background);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.132);
    /* border-radius:20px 20px 20px 20px; */
    /* padding:8px 13px 10px 13px; */
    /* padding: 0px; */
    border-style:ridge;
    border-color: black; 
    border-width: 1px;
    /* align-items: center; */
    /* justify-content:space-between; */
    /* padding: 10px 10% ; */
    

  }
.cancel_back_container {
    display: grid;
    grid-template-columns: 32px 1fr;

    /* justify-content: flex-end; */
    align-items: right;
    height:32px;
    color:rgb(255, 255, 255);
    background-color: var(--color_cancel_back_background);
    width: 100%;
}
.cancel_back {
    height:32px;
    width: 32px;
    color:rgb(255, 255, 255);
    background-color:var(--color_cancel_back_background);
    /* margin-right: auto; */


    /* align-items: ; */

}
.cancel_back2 {
    height:32px;
    color:rgb(255, 255, 255);
    background-color:var(--color_cancel_back_background);
    width: auto;
    padding: 0px 0px 0px 10px;
    /* margin: 10px 10px; */
    
    text-decoration: none;
    text-align:left;



    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 20px;
    /* align-items: ; */

}
.cancel_block{
    padding: 0px 0px 0px 20px;
    background: none;
    height:368px;
    width: 100%;
}

.cancel_title {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 20px;
    background: none;
    height: 80%;
    padding: 60px 0px 0px;
    /* margin-top: auto; */
    
}
.buttonconfirm  {
    width: 150px;
    height: 40px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 16px;
    cursor:pointer;
    color: rgb(255, 255, 255);
    background-color: crimson;
    border-radius:6px;
    text-align: center;
    /* margin-top: 10px; */
    padding: 6px;
    text-decoration: none;
    
    
}
.buttonconfirm:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.container_touchkey {
    display:flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    align-items: center;
    padding: 20px;
    /* align-content: center; */

    /* background-color: #c96bb9; */
    background: none;    
  }

  .buttontouchkey  {
    width: 80%;
    height: auto;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 800;
    font-size: 24px;
    cursor:pointer;
    color: var(--color_touchkey_text);
    background-color: var(--color_touchkey_background);
    border-radius:12px;
    text-align: center;
    /* margin-top: 10px; */
    padding: 10px 0px 10px ;
    text-decoration: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}
/* .buttontouchkey:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  } */