{% load static %}

{% for branch in branchs %}
    <div class="roomListRoom">
        <div class="roomListRoom__header">
            <a href="{% url 'update-branch' branch.id %}" class="roomListRoom__author">

                <div class="list__svg">
                    
                   {% include 'base/images/branch.svg' %}
                </div>
                <span>{{branch.bcode}}</span>
            </a>
            <div class="roomListRoom__actions">
                <span>{{branch.address}}</span>
            </div>
        </div>
        <div class="roomListRoom__content">
            <a href="{% url 'update-branch' branch.id %}">{{branch.name}}</a>

        </div>
        <div class="roomListRoom__meta">
        <a href="{% url 'update-branch' branch.id %}" class="roomListRoom__joined">
            {% include 'base/images/clock.svg' %}
            <!-- Office hour: {{branch.officehourstart}} to {{branch.officehourend}}  -->
            <!-- Ticket time: {{branch.tickettimestart}} to {{branch.tickettimeend}} -->
            Time Zone: {{branch.timezone}}
            <!-- Branchs: 
            {% for prof in profiles %}
                {% if user == prof.user %}                                       
                    {% for bname in prof.branchs.filter %}
                        {{bname.bcode}}
                    {% endfor %}
                    ({{prof.branchs.filter.count}})
                {% endif %}
            {% endfor %} -->
            
        </a>

            {% if branch.enabled == False %}
                <p class="roomListRoom__topic_red">
                    Branch enabled : {{ branch.enabled }}  
                </p>
            {% else %}
                <p class="roomListRoom__topic">
                    Branch enabled : {{ branch.enabled }}  
                </p>
            {% endif %}
        </div>
    
    </div>

{% endfor %}