<!-- in_progress.html -->
{% extends 'main.html' %}
{% block content %}

<div class="progress_div">        

    <div class="progress_text" id="progress_text">
        In Progress...
    </div>

    <div class="progress_per" id="progress">
        0%
    </div>

    <div id="area_download" >
        <a class="btn btn--main" href="{{url_download}}" download>Download</a>
    </div>
</div>

<script>
    const c_wsh = "{{ wsh }}";        
    const task_id = "{{ task_id }}";
    const url_download = "{{ url_download }}";

    var area_download_html = document.getElementById('area_download').innerHTML;

    const socket = new WebSocket(
        c_wsh 
        + window.location.host 
        + '/ws/progress/'
        + task_id
        + '/'
    );

    // 
    socket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const progress = data.progress;
        console.log('Progress:', progress, '%');
        
        document.getElementById('area_download').hidden = true;

        // Update the progress indicator on the page
        document.getElementById('progress').innerText = `${progress}%`;
        
        // Check if the task is complete
        if (data.task_complete) {
            // Redirect to the result page or perform any other action
            // window.location.href = '/result/';
            // window.history.back();

            if (url_download == '') {
                // get the link of current page
                var url = window.location.href;
                console.log(url);
                url = url + '&result=' + task_id;
                // redirect to the link
                location.href = url;
            } else {
                document.getElementById('area_download').hidden = false;
                document.getElementById('progress_text').innerText = `Completed`;
            }
        }
    };
</script>


{% endblock %} 