{% extends 'main.html' %}
{% load tz %}

{% block content %}


<h1>{{result}}<br></h1>

    <table id="table-style" class="table-style">
        <thead>
            <tr>
                <th>Ticket Type</th>
                <th>Done</th>
                <th>Miss</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
        {% for row in table %}
        <tr>
            <td>{{ row.0 }}</td>
            <td>{{ row.1 }}</td>
            <td>{{ row.2 }}</td>
            <td>{{ row.3 }}</td>        
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}
