{% load static %}
<div class="roomArea">
{% for route in routes %}
    <a href="{% url 'update-route' route.id %}">
        <div class="roomListRoom">
            <div class="roomListRoom__header">
                <div class="roomListRoom__author">
                    <div class="list__svg">
                        {% include 'base/images/routes.svg' %}
                    </div>
                    <span>Ticket Type : {{route.tickettype}}</span>
                </div>
                <div class="roomListRoom__actions">
                    <span>Branch : {{route.branch}}</span>
                </div>
            </div>
            <div class="roomListRoom__content">
                Counter type name: {{route.countertype.name}}
            </div>
            <div class="roomListRoom__meta">
                <div class="roomListRoom__joined">
                    
                    {% include 'base/images/steps.svg' %}
                    
                    Step: {{route.step}}
                </div>
                {% if route.enabled == False %}
                    <p class="roomListRoom__topic_red">
                        Disabled
                    </p>
                {% else %}
                    <p class="roomListRoom__topic">
                        Enabled
                    </p>
                {% endif %}
            </div>
        </div>
    </a>
{% endfor %}

</div>