{% extends 'main.html' %}

{% block content %}


<main class="update-account layout">
    <div class="container">
        <div class="layout__box__form">
            <div class="layout__boxHeader">
                <div class="layout__boxTitle">
                    <a href="{{request.META.HTTP_REFERER}}">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                            viewBox="0 0 32 32">
                            <title>Back</title>
                            <path
                                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                            </path>
                        </svg>
                    </a>
                    <h3>Branch settings - {{branchname}} </h3>
                </div>
            </div>
            
            <div class="layout__body">
                <div class="form__group">
                    <label for="profile_pic">Branch code : {{bcode}}</label>
                </div>
                {% if subscribe == True %}
                    <div class="form__group_title">Subscription Expiration Date: {{subend}}</div>
                {% endif %}
                <form class="form" action="" method="POST" prefix="branchsettingsform">
                    
                    {% csrf_token %}
                    
                    {% for field in branchsettingsform %}
                        {% if field.name == "enabled" or field.name == "subscribe" or field.name == "ticketrepeatnumber" or field.name == "displayenabled" or field.name == "voiceenabled" or field.name == "usersinglelogin" or field.name == "SMSenabled" or field.name == "ticketrepeatnumber" or field.name == "websoftkey_show_waitinglist" or field.name == "bookingenabled" or field.name == "bookingSMSSuccessEnabled" or field.name == "bookingSuccessEmailEnabled" %}
                            <div class="form__group_checkbox">
                                <label class="profile_pic" id="{{ field.name }}"> <p class="label__name">{{field}} {{field.label}}</p></label><br>
                            </div>

                        {% else %}
                            <div class="form__group">
                                <label class="profile_pic" id="{{ field.name }}">
                                    <p class="label__name">
                                        {{field.label}}
                                    </p>
                                    {{field}}
                                    <p class="help__text" id="{{ field.name }}-add-text">
                                    </p>
                                    <p class="help__text">
                                        {{field.help_text}}
                                    </p>
                                </label>
                            </div>
                        {% endif %}
                    {% endfor %}
                    
                    <div class="form__group_title">TV Scrolling text</div>
                    {% for ct in countertypes %}
                        <div class="form__group">
                            <label class="profile_pic">
                                <p class="label__name">
                                    Counter Type - {{ ct.name }} : 
                                </p>
                                <input type="text" name="{{ct.branch.bcode}}-{{ct.name}}" value="{{ct.displayscrollingtext}}" maxlength="200">
                            </label>
                            <!-- Counter Type - {{ ct.name }} : <input type="text" name="{{ct.branch.bcode}}-{{ct.name}}" value="{{ct.displayscrollingtext}}" maxlength="200"> -->
                        </div>
                    {% endfor %}

                    <div class="form__action">
                        <a class="btn btn--dark" href="{% url 'settingssummary' %}">Cancel</a>
                        <button class="btn btn--main" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
</main>

<!-- add js for change textarea of id=id_branchsettingsform-bookingSMSSuccess, show number of chars on help_text -->
<script>
    var textArea = document.getElementById('id_branchsettingsform-bookingSMSSuccess');
    var message = document.getElementById('bookingSMSSuccess-add-text');
    textArea.addEventListener('input', function() {
        var text = textArea.value;
        var textLength = text.length;
        // find '[[DATE]]' in text
        var dateCount = (text.match(/\[\[DATE\]\]/g) || []).length;
        //  and textLength  +2 (+ 10[2000-01-01] - 8) for each [[DATE]]
        textLength = textLength + (dateCount * 2);
        
        // find '[[TIME]]' in text
        //var timeCount = (text.match(/\[\[TIME\]\]/g) || []).length;
        //  and textLength  +0 (+ 8[15:59 AM] - 8) for each [[TIME]]
        // textLength = textLength + (timeCount * 0);



        message.textContent = textLength + ' characters';
    });
</script>

{% endblock content %}
