{% extends 'main.html' %}
{% block content %}

    <main class="layout layout--2">
      <div class="container">
        <!-- Topics Start -->

        {% include 'base/menu.html' %}        
        
        <!-- Topics End -->

        <!-- Room List Start -->
        <div class="roomList">
          <div id="id_mobile-menu" class="mobile-menu">
            <!-- <form class="mobile-header__search" action="{% url 'home' %}" method="GET" >
              <label>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                  <title>search</title>
                  <path
                    d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z"
                  ></path>
                </svg>
                <input name="q" placeholder="Search for users" />
              </label>
            </form> -->
            <div class="mobile-menuItems">
              <!-- <a class="btn btn--main btn--pill" href="{-% url 'topics' %}">Browse Topics</a>
              <a class="btn btn--main btn--pill" href="{-% url 'activity' %}">Recent Activities</a> -->
              <a class="btn btn--main btn--pill" href="{% url 'menu' %}">Menu</a>          
            </div>
          </div>

          <div class="roomList__header">
            <div>
                <h2>Softkey - Counter {{ data.counternumber }} ({{ data.countertype }})</h2>
                <h3>Branch : {{ data.branch }} </h3>                
            </div>
            <div class="lastupdate_div" >
              <div class="max" >
                <button id="btn_max" class="btn btn--main btn--pill ">Max</button>
              </div>
              <p class="lastupdate" id="lastupdate">Last update : {{ lastupdate }}</p>   
            </div>
          </div>
              
          <div class="softkey_login">
            Login : {{ data.name }} ({{data.username}})
          </div>

          <div id="status_text" class="softkey_status_text anibackcolor">
            Status : Waiting to call
          </div>

          <div id="key_area">



            <div id="call_menu">

                  <!-- form no style -->
                  <form action="" method="POST">
                    {% csrf_token %}                    
                    <div class="softkey_cc_call_container">
                        <button id="id_btn_ready" type="submit" name="action" value="ready" class="softkey_btn_cc btn--main">Ready</button>
                        <button id="id_btn_busy" type="submit" name="action" value="busy" class="softkey_btn_cc btn--main">Busy</button>
                        <button id="id_btn_cancel" type="submit" name="action" value="cancel" class="softkey_btn_cc btn--main">Cancel</button>
                    </div>
                    <div class="softkey_cc_call_container">
                        <button id="id_btn_acw" type="submit" name="action" value="acw" class="softkey_btn_cc btn--main">ACW</button>
                        <button id="id_btn_aux" type="submit" name="action" value="aux" class="softkey_btn_cc btn--main">AUX</button>
                        <button id="id_btn_logout" type="submit" name="action" value="logout" class="softkey_btn_cc btn--main">Logout</button>
                    </div>
                    <div class="softkey_cc_flashlight_container">
                      <button id="id_btn_recall" type="submit" name="action" value="recall" class="btn btn--main btn--pill">Recall</button>
                      <button id="id_btn_on" type="submit" name="action" value="on" class="btn btn--main btn--pill">On</button>
                      <button id="id_btn_off" type="submit" name="action" value="off" class="btn btn--main btn--pill">Off</button>
                      <button id="id_btn_flash" type="submit" name="action" value="flash" class="btn btn--main btn--pill">Flash</button>
                    </div>
                  </form>

                
               


            </div>



            
           
          </div>
        
          <!-- <div id="get_area">
            <div class="container">
              <div class="layout__box">
                  <div class="layout__boxHeader">
                      <div class="layout__boxTitle">
                          <a id="get_back" href="">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                                <title>arrow-left</title>
                                <path
                                    d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                                </path>
                            </svg>
                          </a>
                          <h3>Get a ticket</h3>
                      </div>
                  </div>
                  
                  <form class="form" action="" method="POST" >
                    {% csrf_token %}
                    <div class="layout__body">
                      <div class="form__group">
                        <label for="ticketnumber">Input ticket number :</label>
                        <input type="text" name="ticketnumber" value="">
                      </div>
                      <div class="form__action">
                        <button type="submit" name="action" value="submit" class="softkey_btn softkey_btn--submit btn--main" >Get</button>
                      </div>
                    </div>
                  </form>

              </div>
            </div>
          </div> -->

          <div id="paper_area">
            {% for printer in printerstatus %}
              <div id="Printer_{{ printer.printernumber }}">
              {% if printer.status == "<P_FINE>" %}
                <div></div>
              {% elif printer.status == "<P_NEAREND>" %}
                <div class="softkey_status_text printer_nearend_text ">{{ printer.printernumber }} : {{printer.statustext}}</div>
              {% elif printer.status == "<P_END>" %}
                <div class="softkey_status_text printer_end_text ">{{ printer.printernumber }} : {{printer.statustext}}</div>
              {% elif printer.status == "<OPEN>" %}
                <div class="softkey_status_text printer_open_text ">{{ printer.printernumber }} : {{printer.statustext}}</div>
              {% else %}
                <div class="softkey_status_text printer_ready_text ">{{ printer.printernumber }} : {{printer.statustext}}</div>
              {% endif %}
              </div> 
            {% endfor%}
          </div>

          <div class="subtotal_container_cc" id="subtotal_area">
            {% for sub in subtotal %}
              <div class="subtotal_div_cc">
                <div class="subtotal_ttype_cc">
                  <div class="subtotal_ttype_text_cc">
                    {{sub.tickettype}}
                  </div>
                </div>
                <div class="subtotal_des_cc">
                  <div class="subtotal_lang">{{sub.lang1}}</div>
                  <div class="subtotal_lang">{{sub.lang2}}</div>
                </div>
                {% if sub.userttype == True %}
                  <div class="subtotal_total subtotal_total_green">
                    <div id="subtotal_{{sub.tickettype}}" class="subtotal_total_text subtotal_total_text_green">
                      {{sub.wait}}
                    </div>
                  </div>
                {% else %}
                  <div class="subtotal_total">
                    <div id="subtotal_{{sub.tickettype}}" class="subtotal_total_text">
                      {{sub.wait}}
                    </div>
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>

          <!-- <div id="qlshow_header" class="qlist_item qlist_header">              
            <button id="qlistshow_btn" class="btn btn--main btn--pill">Show list</button>
          </div> -->
          <!-- <div id="qlhide_header" class="qlist_item qlist_header">              
            <button id="qlisthide_btn" class="btn btn--main btn--pill">Hide list</button>
          </div>           -->
          <!-- <div id="qlist_area" class="qlist_container">       
            {% for ticket in qlist %}
              <div id="ticket_{{ticket.tickettype}}{{ticket.ticketnumber}}{{ticket.tickettime}}" class="qlist_item">
                <div class="qlist_ticketnumber">{{ticket.tickettype}}{{ticket.ticketnumber}}</div>
                <div class="qlist_tickettime">{{ticket.tickettime_local}}</div>
                <a class="btn btn--del" href="{% url 'softkeyvoid' pk ticket.id %}">Void</a>
              </div>
            {% endfor %}
          </div> -->

          <div class="qlist_item qlist_footer">
              
          </div>


        </div>
        
      </div>

      
      {{ data.counterstatus|json_script:"js-counterstatus"}}
      {{ wsh|json_script:"js-wsh" }}
      {{ pk|json_script:"js-pk" }}
      {{ data.bcode|json_script:"js-bcode" }}
      {{ data.countertype|json_script:"js-countertype"}}
      {{ data.tickettype|json_script:"js-tickettype" }}
      {{ data.ticketnumber|json_script:"js-ticketnumber" }}
      <script>
        const c_wsh = JSON.parse(document.getElementById('js-wsh').textContent);
        const c_pk = JSON.parse(document.getElementById('js-pk').textContent);
        const c_bcode = JSON.parse(document.getElementById('js-bcode').textContent);
        const c_ct = JSON.parse(document.getElementById('js-countertype').textContent);
        const c_counterstatus = JSON.parse(document.getElementById('js-counterstatus').textContent);
        const c_ttype = JSON.parse(document.getElementById('js-tickettype').textContent);
        const c_tno = JSON.parse(document.getElementById('js-ticketnumber').textContent);
        var btn_ready = document.getElementById('id_btn_ready');
        var btn_busy = document.getElementById('id_btn_busy');
        var btn_cancel = document.getElementById('id_btn_cancel');
        var btn_acw = document.getElementById('id_btn_acw');
        var btn_aux = document.getElementById('id_btn_aux');
        var btn_logout = document.getElementById('id_btn_logout');
        var btn_on = document.getElementById('id_btn_on');
        var btn_off = document.getElementById('id_btn_off');
        var btn_flash = document.getElementById('id_btn_flash');

        // var btn_get = document.getElementById('get_btn');
        // var get_back = document.getElementById('get_back');
        // var get_area_html = document.getElementById('get_area').innerHTML;
        var hidden = true;
        var listshow = null;
        // var btn_listshow = document.getElementById('qlistshow_btn');
        // var btn_listhide = document.getElementById('qlisthide_btn');
        var btn_max = document.getElementById('btn_max');
        var maxwin = null;
        var html_m_menu = document.getElementById('id_mobile-menu').innerHTML;
        var html_menu = document.getElementById('id_menu').innerHTML;
        // 
        maxwin = localStorage.getItem("key_maxwin");
        if (maxwin == null) {
          maxwin = "normal";
        }
        maxwinfunc();

        function maxwinfunc(){
          
          if (maxwin == "max") {
            btn_max.innerHTML = "Back";
            document.getElementById('id_menu').setAttribute("hidden", "hidden")
            document.getElementById('id_mobile-menu').innerHTML = "";
            document.getElementById('id_navbar').style.display = "none";
          } else {
            btn_max.innerHTML = "Max";
            document.getElementById('id_menu').removeAttribute("hidden")
            document.getElementById('id_mobile-menu').innerHTML = html_m_menu;
            document.getElementById('id_navbar').style.display = "block";
          }
          localStorage.setItem("key_maxwin", maxwin);
        }

        btn_max.addEventListener('click', function() {
          maxwin = localStorage.getItem("key_maxwin");
          if (maxwin == "normal") {
            maxwin = "max";
          } else {
            maxwin = "normal";
          }
          maxwinfunc();
        });



        // // var can hold data when refresh page
        // listshow = localStorage.getItem("key_listshow");
        // if (listshow == null) {
        //   listshow = "show";
        // }
        // showorhideqlist();

        // btn_listhide.addEventListener('click', function() {
        //   listshow = "hide";
        //   showorhideqlist();
        // });
        // btn_listshow.addEventListener('click', function() {
        //   listshow = "show";
        //   showorhideqlist();
        // });
  
        // function showorhideqlist(){
        //   if (listshow == "hide") {
        //     document.getElementById('qlist_area').style.display = "none";
        //     document.getElementById('qlhide_header').style.display = "none";
        //     document.getElementById('qlshow_header').style.display = "block";
        //     // document.getElementById('qlshow_header').hidden = false; why not work?

        //   } else {
        //     document.getElementById('qlist_area').style.display = "block";
        //     document.getElementById('qlhide_header').style.display = "block";
        //     document.getElementById('qlshow_header').style.display = "none";
        //   }
        //   localStorage.setItem("key_listshow", listshow);
        // }


        // new funcition to change the status (input status, ticket type, ticket number)
        function changeStatus(status, ttype, tno) {

          if (status == 'AUX') {
            btn_ready.disabled = false;
            btn_busy.disabled = true;
            btn_cancel.disabled = true;

            btn_acw.disabled = false;
            btn_aux.disabled = true;
            btn_logout.disabled = false;

            document.getElementById('status_text').innerHTML = 'Status : AUX';
          } else if (status == 'ready') {
            btn_ready.disabled = true;
            btn_busy.disabled = true;
            btn_cancel.disabled = true;

            btn_acw.disabled = false;
            btn_aux.disabled = false;
            btn_logout.disabled = false;

            document.getElementById('status_text').innerHTML = 'Status : Ready';

          } else if (status == 'calling') {
            document.getElementById('status_text').innerHTML = 'Status : Calling ' + ttype + tno;


            btn_ready.disabled = true;
            btn_busy.disabled = false;
            btn_cancel.disabled = false;

            btn_acw.disabled = true;
            btn_aux.disabled = true;
            btn_logout.disabled = true;
          } else if (status == 'processing') {
            document.getElementById('status_text').innerHTML = 'Status : Processing ' + ttype + tno;
            btn_ready.disabled = false;
            btn_busy.disabled = true;
            btn_cancel.disabled = true;

            btn_acw.disabled = false;
            btn_aux.disabled = false;
            btn_logout.disabled = true;

          } else if (status == 'ACW') {
            document.getElementById('status_text').innerHTML = 'Status : ACW ' + ttype + tno;
            btn_ready.disabled = false;
            btn_busy.disabled = true;
            btn_cancel.disabled = true;

            btn_acw.disabled = true;
            btn_aux.disabled = false;
            btn_logout.disabled = false;
          } else {
            document.getElementById('status_text').innerHTML = 'Status : ' + status;
          }
        }

        //  call function changeStatus
        changeStatus(c_counterstatus, c_ttype, c_tno);

        // //  javascript Button "Get" show or hidden html id="get_area" 
        // document.getElementById('get_area').innerHTML = '';

        // btn_get.addEventListener('click', function() {
        //   if (hidden) {
        //     document.getElementById('get_area').innerHTML = get_area_html;
        //     hidden = false;
        //   } else {
        //     document.getElementById('get_area').innerHTML = '';
        //     hidden = true;
        //   }
        // });

        // get_back.addEventListener('click', function() {
        //   document.getElementById('get_area').innerHTML = '';
        //   hidden = true;
        // });

        // websocket for printer status
        const PrintStatusSocket = new WebSocket(
            c_wsh
            + window.location.host
            + '/ws/pstatus/'
            + c_bcode
            + '/'
        );
        PrintStatusSocket.onmessage = function(e) {
            // # {
            // #    "cmd":"ps",
            // #    "lastupdate":"2020-05-20 11:00:00",
            // #    "data":[
            // #       {
            // #          "printernumber":"P1",
            // #          "statustext":"good",
            // #          "status":"<P_FINE>"
            // #       },
            // #       {
            // #          "printernumber":"P2",
            // #          "statustext":"Paper out",
            // #          "status":"<P_FINE>"
            // #       }
            // #    ]
            // # }
            // console.log('Received data:', e.data);
            const rxdata = JSON.parse(e.data);
            // console.log('Parsed data:', data);
            // document.querySelectorAll(".status > .vertical-center")[0].innerHTML = data.lastupdate;
            var last = rxdata.lastupdate;
            document.getElementById("lastupdate").innerHTML = 'Last update : ' + last;

            var cmd = rxdata.cmd;
            if (cmd == 'ps') {
                const data = rxdata.data;

                for (var i = 0; i < data.length; i++) {
                    var obj = data[i];
                    var pno = obj.printernumber;
                    var statustext = obj.statustext;
                    var status = obj.status;

                    if (status == "<P_FINE>") {
                        document.getElementById("Printer_" + pno).innerHTML = '';
                    } else if (status == "<P_NEAREND>") {
                        document.getElementById("Printer_" + pno).innerHTML = '<div class="softkey_status_text printer_nearend_text anibackcolorred">' + pno + ' : ' + statustext + '</div>';
                    } else if (status == "<P_END>") {
                        document.getElementById("Printer_" + pno).innerHTML = '<div class="softkey_status_text printer_end_text anibackcolorred">' + pno + ' : ' + statustext + '</div>';
                    } else if (status == "<OPEN>") {
                        document.getElementById("Printer_" + pno).innerHTML = '<div class="softkey_status_text printer_open_text anibackcolorred">' + pno + ' : ' + statustext + '</div>';
                    } else {
                        document.getElementById("Printer_" + pno).innerHTML = '<div class="softkey_status_text printer_ready_text anibackcolorred">' + pno + ' : ' + statustext + '</div>';
                    }
                }
            }        
        };
        PrintStatusSocket.onclose = function(e) {
            console.error('PrinterStatus socket closed unexpectedly');
        };


        // websocket for Counter status
        const CounterStatusSocket = new WebSocket(
            c_wsh
            + window.location.host
            + '/ws/cs/'
            + c_pk
            + '/'
        );
        CounterStatusSocket.onmessage = function(e) {
            // # {
            // #    "cmd":"cs",
            // #    "lastupdate":"2020-05-20 11:00:00",
            // #    "data":
            // #    {
            // #     "status": "waiting",", 
            // #     "tickettype": "A",
            // #     "ticketnumber": "012",
            // #     }
            // # }
            // console.log('Received data:', e.data);
            const rxdata = JSON.parse(e.data);
            // console.log('Parsed data:', data);
            // document.querySelectorAll(".status > .vertical-center")[0].innerHTML = data.lastupdate;
            var last = rxdata.lastupdate;
            document.getElementById("lastupdate").innerHTML = 'Last update : ' + last;

            var cmd = rxdata.cmd;
            if (cmd == 'cs') {
                const data = rxdata.data;
                var status = data.status;
                var ttype = data.tickettype;
                var tno = data.ticketnumber;

                changeStatus(status, ttype, tno);
            }        
        };
        CounterStatusSocket.onclose = function(e) {
            console.error('CounterStatus socket closed unexpectedly');
        };


        // websocket for Q list
        const QListSocket = new WebSocket(
            c_wsh
            + window.location.host
            + '/ws/ql/'
            + c_bcode
            + '/'
            + c_ct
            + '/'
        );
        QListSocket.onmessage = function(e) {
            // # {"cmd":"add",
            // #  "lastupdate":now,
            // #  "data":
            // #    {
            // #     "tickettype": "A", 
            // #     "ticketnumber": "012",
            // #     "tickettime": "2023-03-17T15:06:53.337639Z",
            // #     "tickettime_local": "2023-03-17T15:06:53.337639Z",
            // #     "ttid": 1,
            // #     }
            // # }
            // console.log('Received data:', e.data);
            const rxdata = JSON.parse(e.data);
            // console.log('Parsed data:', data);
            // document.querySelectorAll(".status > .vertical-center")[0].innerHTML = data.lastupdate;
            var last = rxdata.lastupdate;
            document.getElementById("lastupdate").innerHTML = 'Last update : ' + last;

            var cmd = rxdata.cmd;
            if (cmd == 'add' || cmd == 'del'); {
                const data = rxdata.data;                
                var ttype = data.tickettype;
                var tno = data.ticketnumber;
                var ttime = data.tickettime;
                var ttime_local = data.tickettime_local;
                var ttid = data.ttid;

                // check cmd add or del
                var subtotal = 0;
                if (cmd == 'add') {
                  // 
                  subtotal = 1;
                  // add to list
                  // document.getElementById("qlist_area").innerHTML = document.getElementById("qlist_area").innerHTML + 
                  // `
                  // <div id="ticket_` + ttype + tno + ttime + `" class="qlist_item">
                  //   <div class="qlist_ticketnumber">` + ttype + tno + `</div>
                  //   <div class="qlist_tickettime">` + ttime_local + `</div>
                  //   <a class="btn btn--del" href=` + 
                  //   `/softkey_void/` +
                  //   c_pk + 
                  //   `/` +
                  //   ttid + `/` +
                  //   `>Void</a>
                  // </div>
                  // `
           

                } else if (cmd == 'del') {
                  subtotal = -1;
                  // remove from list
                  // document.getElementById("ticket_" + ttype + tno + ttime).outerHTML = '';
                }
                
                // update subtotal
                var s_sub = document.getElementById("subtotal_" + ttype).innerHTML;
                var i_sub = parseInt(s_sub);
                i_sub = i_sub + subtotal;
                document.getElementById("subtotal_" + ttype).innerHTML = i_sub;
              }
            
        };
        QListSocket.onclose = function(e) {
            console.error('Q List socket closed unexpectedly');
        };


      </script>

    </main>


      
{% endblock %}      



