{% load static %}


<div>
    <h3>Choose branch to login: </h3>

        <table class="table-style">
            <thead>
                <tr>
                    <th>Branch</th>
                    <th>Branch address</th>
                    <th>Branch code</th>
                                        
                </tr>
            </thead>
            <tbody>
            {% for branch in branchs %}
            <tr>
                <td>{{ branch.name }}</td>
                <td>{{ branch.address }}</td>                   
                <td>{{ branch.bcode }}</td>
             

                <td style="border: 0;background-color:var(--color-bg)"><a class="btn btn--main" href="{% url 'softkeylogin' branch.id %}">Select</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>       
</div>