{% extends 'main.html' %}
{% block content %}

    <main class="layout layout--2">
      <div class="container">
        <!-- Topics Start -->
        {% include 'base/menu.html' %}        
        <!-- Topics End -->

        <!-- Room List Start -->
        <div class="roomList">
          <div class="mobile-menu">
            <form class="header__search" action="{% url 'home' %}" method="GET">
              <label>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                  <title>search</title>
                  <path
                    d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z"
                  ></path>
                </svg>
                <input name="q" placeholder="Search for users" />
              </label>
            </form>
            <div class="mobile-menuItems">
              <!-- <a class="btn btn--main btn--pill" href="{-% url 'topics' %}">Browse Topics</a>
              <a class="btn btn--main btn--pill" href="{-% url 'activity' %}">Recent Activities</a> -->
              <a class="btn btn--main btn--pill" href="{% url 'menu' %}">Menu</a>          
            </div>
          </div>

          <div class="roomList__header">
            <div>
                <h2>Softkey - Counter {{ data.counternumber }} ({{ data.countertype }})</h2>
                <h3>Branch : {{ data.branch }} </h3>
                
              </div>
              <p id="lastupdate">Last update : {{ lastupdate }}</p>
          </div>
                     
          <div class="softkey_login">
            Login : {{ data.name }} 
          </div>

          <div id="status_text" class="softkey_status_text">
            Status : Waiting to call
          </div>

          <div id="key_area">

            <div id="call_menu">
              <div class="softkey_call_container">
                <!-- form no style -->
                <form  action="" method="POST">
                  {% csrf_token %}
                  <button type="submit" name="action" value="call" class="softkey_btn btn--main">Call</button>
                </form>
                <div>
                  <button id="get_btn" class="softkey_btn btn--main">Get</button>
                </div>
                <div>
                  <a class="softkey_btn btn--del" href="{% url 'softkeylogout' pk %}">Logout</a>
                </div>  
              </div>            
            </div>

            <div id="process_menu">
              <!-- <div class="softkey_call_container"> -->
                <form class="softkey_call_container" action="" method="POST">
                  {% csrf_token %}
                  <button type="submit" name="action" value="process" class="softkey_btn btn--main">Start process</button>
                  <button type="submit" name="action" value="miss" class="softkey_btn btn--main">No show</button>
                  <button type="submit" name="action" value="recall" class="softkey_btn btn--main">Recall</button>
                </form> 
              <!-- </div> -->
            </div>

            <div id="done_menu">
              <div class="softkey_call_container">
                <form action="" method="POST">
                  {% csrf_token %}
                  <button type="submit" name="action" value="done" class="softkey_btn btn--main">Complete</button>
                </form>
              </div>
            </div>
          </div>
        
          <div id="get_area">
            <div class="container">
              <div class="layout__box">
                  <div class="layout__boxHeader">
                      <div class="layout__boxTitle">
                          <a id="get_back" href="">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                                <title>arrow-left</title>
                                <path
                                    d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                                </path>
                            </svg>
                          </a>
                          <h3>Get a ticket</h3>
                      </div>
                  </div>
                  
                  <form class="form" action="" method="POST" >
                    {% csrf_token %}
                    <div class="layout__body">
                      <div class="form__group">
                        <label for="ticketnumber">Input ticket number :</label>
                        <input type="text" name="ticketnumber" name="ticketnumber" value="">
                      </div>
                      <div class="form__action">
                        <button type="submit" name="action" value="submit" class="softkey_btn softkey_btn--submit btn--main" >Get</button>
                      </div>
                    </div>
                  </form>

              </div>
            </div>
          </div>

          <div id="paper_area">
            {% for printer in printerstatus %}
              <div id="Printer_{{ printer.printernumber }}">
              {% if printer.status == "<P_FINE>" %}
                <div></div>
              {% elif printer.status == "<P_NEAREND>" %}
                <div class="printer_nearend_text">{{ printer.printernumber }} : {{printer.statustext}}</div>
              {% elif printer.status == "<P_END>" %}
                <div class="printer_end_text">{{ printer.printernumber }} : {{printer.statustext}}</div>
              {% elif printer.status == "<OPEN>" %}
                <div class="printer_open_text">{{ printer.printernumber }} : {{printer.statustext}}</div>
              {% else %}
                <div class="printer_ready_text">{{ printer.printernumber }} : {{printer.statustext}}</div>
              {% endif %}
              </div> 
            {% endfor%}
          </div>

          <div class="subtotal_container" id="subtotal_area">
            <div id="subtotal_A" class="subtotal_div">
              <div class="subtotal_ttype">A</div>
              <div class="subtotal_des">
                <div class="subtotal_lang1">Enquiry</div>
                <div class="subtotal_lang2">詢問</div>
              </div>
              <div class="subtotal_total">9</div>
            </div>
          </div>




        </div>
        
      </div>

      
      {{ data.counterstatus|json_script:"js-counterstatus"}}
      {{ wsh|json_script:"js-wsh" }}
      {{ pk|json_script:"js-pk" }}
      {{ data.bcode|json_script:"js-bcode" }}
      {{ data.tickettype|json_script:"js-tickettype" }}
      {{ data.ticketnumber|json_script:"js-ticketnumber" }}
      <script>
        const c_wsh = JSON.parse(document.getElementById('js-wsh').textContent);
        const c_pk = JSON.parse(document.getElementById('js-pk').textContent);
        const c_bcode = JSON.parse(document.getElementById('js-bcode').textContent);
        const c_counterstatus = JSON.parse(document.getElementById('js-counterstatus').textContent);
        const c_ttype = JSON.parse(document.getElementById('js-tickettype').textContent);
        const c_tno = JSON.parse(document.getElementById('js-ticketnumber').textContent);
        var btn = document.getElementById('get_btn');
        var get_back = document.getElementById('get_back');
        var get_area_html = document.getElementById('get_area').innerHTML;
        var hidden = true;

        // new funcition to change the status (input status, ticket type, ticket number)
        function changeStatus(status, ttype, tno) {
          document.getElementById('call_menu').hidden = true;
          document.getElementById('process_menu').hidden = true;
          document.getElementById('done_menu').hidden = true;
          if (status == 'waiting') {
            document.getElementById('status_text').innerHTML = 'Status : Waiting to call';
            document.getElementById('call_menu').hidden = false;
          } else if (status == 'calling') {
            document.getElementById('status_text').innerHTML = 'Status : Calling ' + ttype + tno;
            document.getElementById('process_menu').hidden = false;
          } else if (status == 'processing') {
            document.getElementById('status_text').innerHTML = 'Status : Processing ' + ttype + tno;
            document.getElementById('done_menu').hidden = false;
          } else {
            document.getElementById('status_text').innerHTML = 'Status : ' + status;
          }
        }

        //  call function changeStatus
        changeStatus(c_counterstatus, c_ttype, c_tno);

        //  javascript Button "Get" show or hidden html id="get_area" 
        document.getElementById('get_area').innerHTML = '';

        btn.addEventListener('click', function() {
          if (hidden) {
            document.getElementById('get_area').innerHTML = get_area_html;
            hidden = false;
          } else {
            document.getElementById('get_area').innerHTML = '';
            hidden = true;
          }
        });

        get_back.addEventListener('click', function() {
          document.getElementById('get_area').innerHTML = '';
          hidden = true;
        });

        // websocket for printer status
        const PrintStatusSocket = new WebSocket(
            c_wsh
            + window.location.host
            + '/ws/pstatus/'
            + c_bcode
            + '/'
        );
        PrintStatusSocket.onmessage = function(e) {
            // # {
            // #    "cmd":"ps",
            // #    "lastupdate":"2020-05-20 11:00:00",
            // #    "data":[
            // #       {
            // #          "printernumber":"P1",
            // #          "statustext":"good",
            // #          "status":"<P_FINE>"
            // #       },
            // #       {
            // #          "printernumber":"P2",
            // #          "statustext":"Paper out",
            // #          "status":"<P_FINE>"
            // #       }
            // #    ]
            // # }
            // console.log('Received data:', e.data);
            const rxdata = JSON.parse(e.data);
            // console.log('Parsed data:', data);
            // document.querySelectorAll(".status > .vertical-center")[0].innerHTML = data.lastupdate;
            var last = rxdata.lastupdate;
            document.getElementById("lastupdate").innerHTML = 'Last update : ' + last;

            var cmd = rxdata.cmd;
            if (cmd == 'ps') {
                const data = rxdata.data;

                for (var i = 0; i < data.length; i++) {
                    var obj = data[i];
                    var pno = obj.printernumber;
                    var statustext = obj.statustext;
                    var status = obj.status;

                    if (status == "<P_FINE>") {
                        document.getElementById("Printer_" + pno).innerHTML = '';
                    } else if (status == "<P_NEAREND>") {
                        document.getElementById("Printer_" + pno).innerHTML = '<div class="printer_nearend_text typewriter">' + pno + ' : ' + statustext + '</div>';
                    } else if (status == "<P_END>") {
                        document.getElementById("Printer_" + pno).innerHTML = '<div class="printer_end_text typewriter">' + pno + ' : ' + statustext + '</div>';
                    } else if (status == "<OPEN>") {
                        document.getElementById("Printer_" + pno).innerHTML = '<div class="printer_open_text typewriter">' + pno + ' : ' + statustext + '</div>';
                    } else {
                        document.getElementById("Printer_" + pno).innerHTML = '<div class="printer_ready_text typewriter">' + pno + ' : ' + statustext + '</div>';
                    }
                }
            }        
        };
        PrintStatusSocket.onclose = function(e) {
            console.error('PrinterStatus socket closed unexpectedly');
        };


        // websocket for Counter status
        const CounterStatusSocket = new WebSocket(
            c_wsh
            + window.location.host
            + '/ws/cs/'
            + c_pk
            + '/'
        );
        CounterStatusSocket.onmessage = function(e) {
            // # {
            // #    "cmd":"cs",
            // #    "lastupdate":"2020-05-20 11:00:00",
            // #    "data":
            // #    {
            // #     "status": "waiting",", 
            // #     "tickettype": "A",
            // #     "ticketnumber": "012",
            // #     }
            // # }
            // console.log('Received data:', e.data);
            const rxdata = JSON.parse(e.data);
            // console.log('Parsed data:', data);
            // document.querySelectorAll(".status > .vertical-center")[0].innerHTML = data.lastupdate;
            var last = rxdata.lastupdate;
            document.getElementById("lastupdate").innerHTML = 'Last update : ' + last;

            var cmd = rxdata.cmd;
            if (cmd == 'cs') {
                const data = rxdata.data;
                var status = data.status;
                var ttype = data.tickettype;
                var tno = data.ticketnumber;

                changeStatus(status, ttype, tno);
            }        
        };
        CounterStatusSocket.onclose = function(e) {
            console.error('CounterStatus socket closed unexpectedly');
        };

      </script>

    </main>


      
{% endblock %}      













  
