{% extends 'main.html' %}
{% block content %}
{% load static %}
    <main id="id_main" class="layout layout--2">
      <div class="container">
        <!-- Topics Start -->

        {% include 'base/menu.html' %}        
        
        <!-- Topics End -->

        <!-- Room List Start -->
        <div class="roomList">
          <div id="id_mobile-menu">
            <div class="mobile-menu">
              <div class="mobile-menuItems">
                <a class="btn btn--main btn--pill" href="{% url 'menu' %}">Menu</a>          
              </div>
            </div>
          </div>

          <div class="roomList__header">
            <div>
                <h2>Softkey - Counter {{ data.counternumber }} ({{ data.countertype }})</h2>
                <h3>Branch : {{ data.branch }} </h3>                
            </div>
            <div class="lastupdate_div" >
              <div class="max" >
                <button id="btn_max" class="btn btn--main btn--pill ">Max</button>
              </div>
              <p class="lastupdate" id="lastupdate">Last update : {{ lastupdate }}</p>   
            </div>
          </div>
              
          <div class="softkey_login">
            Login : {{ data.name }} 
          </div>

          <div id="status_text" class="softkey_status_text anibackcolor">
            Status : Waiting to call
          </div>

          <div id="key_area">

            <div id="call_menu">
              <div class="softkey_call_container">
                <!-- form no style -->
                <form class="softkey_form" action="" method="POST">
                  {% csrf_token %}
                  <button type="submit" name="action" value="call" class="softkey_btn btn--main">Call</button>
                </form>
                <div class="softkey_form">
                  <button id="get_btn" class="softkey_btn btn--main">Get</button>
                </div>
                <div class="softkey_form">
                  <a class="softkey_btn btn--del" href="{% url 'softkeylogout' pk %}">Logout</a>
                </div>  
              </div>            
            </div>

            <div id="process_menu">
              <!-- <div class="softkey_call_container"> -->
                <form class="softkey_call_container" action="" method="POST">
                  {% csrf_token %}
                  <button type="submit" name="action" value="process" class="softkey_btn btn--main">Start process</button>
                  <button type="submit" name="action" value="miss" class="softkey_btn btn--main">No show</button>
                  <button type="submit" name="action" value="recall" class="softkey_btn btn--main">Recall</button>
                </form> 
              <!-- </div> -->
            </div>

            <div id="done_menu">
              <div class="softkey_call_container">
                <form action="" method="POST" class="softkey_form">
                  {% csrf_token %}
                  <button type="submit" name="action" value="done" class="softkey_btn btn--main">Complete</button>
                </form>
              </div>
            </div>
          </div>
        
          <div id="get_area">
            <div class="container">
              <div class="layout__box">
                  <div class="layout__boxHeader">
                      <div class="layout__boxTitle">
                          <a id="get_back" href="">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                                <title>arrow-left</title>
                                <path
                                    d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                                </path>
                            </svg>
                          </a>
                          <h3>Get a ticket</h3>
                      </div>
                  </div>
                  
                  <form class="form" action="" method="POST" >
                    {% csrf_token %}
                    <div class="layout__body">
                      <div class="form__group">
                        <label for="ticketnumber">Input ticket number :</label>
                        <input type="text" name="ticketnumber" value="">
                      </div>
                      <div class="form__action">
                        <button type="submit" name="action" value="submit" class="softkey_btn softkey_btn--submit btn--main" >Get</button>
                      </div>
                    </div>
                  </form>

              </div>
            </div>
          </div>

          <div id="paper_area">
            {% for printer in printerstatus %}
              <div id="Printer_{{ printer.printernumber }}">
              {% if printer.status == "<P_FINE>" %}
                <div></div>
              {% elif printer.status == "<P_NEAREND>" %}
                <div class="softkey_status_text printer_nearend_text ">{{ printer.printernumber }} : {{printer.statustext}}</div>
              {% elif printer.status == "<P_END>" %}
                <div class="softkey_status_text printer_end_text ">{{ printer.printernumber }} : {{printer.statustext}}</div>
              {% elif printer.status == "<OPEN>" %}
                <div class="softkey_status_text printer_open_text ">{{ printer.printernumber }} : {{printer.statustext}}</div>
              {% else %}
                <div class="softkey_status_text printer_ready_text ">{{ printer.printernumber }} : {{printer.statustext}}</div>
              {% endif %}
              </div> 
            {% endfor%}
          </div>

          <div class="subtotal_container" id="subtotal_area">
            {% for sub in subtotal %}
              <div class="subtotal_div">
                <div class="subtotal_ttype">
                  <div class="subtotal_ttype_text">
                    {{sub.tickettype}}
                  </div>
                </div>
                <div class="subtotal_des">
                  <div class="subtotal_lang">{{sub.lang1}}</div>
                  <div class="subtotal_lang">{{sub.lang2}}</div>
                </div>
                {% if sub.userttype == True %}
                  <div class="subtotal_total subtotal_total_green">
                    <div id="subtotal_{{sub.tickettype}}" class="subtotal_total_text subtotal_total_text_green">
                      {{sub.wait}}
                    </div>
                  </div>
                {% else %}
                  <div class="subtotal_total">
                    <div id="subtotal_{{sub.tickettype}}" class="subtotal_total_text">
                      {{sub.wait}}
                    </div>
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>

          <div id="qlshow_header" class="qlist_item qlist_header">
            {% if waitinglist_show == True %}
              <button id="qlistshow_btn" class="btn btn--main btn--pill">Show list</button>
            {% else %}
              <button id="qlistshow_btn" style="display: none;">Show list</button>
            {% endif %}
          </div>
          <div id="qlhide_header" class="qlist_item qlist_header">
            {% if waitinglist_show == True %}
              <button id="qlisthide_btn" class="btn btn--main btn--pill">Hide list</button>
            {% else %}
              <button id="qlisthide_btn" style="display: none;">Hide list</button>
            {% endif %}
          </div>          
          <div id="qlist_area" class="qlist_container">
            {% if waitinglist_show == True %}
              {% for ticket in qlist %}
                <div id="ticket_{{ticket.tickettype}}{{ticket.ticketnumber}}{{ticket.tickettime}}" class="qlist_item">
                  <div class="qlist_ticketnumber">{{ticket.tickettype}}{{ticket.ticketnumber}}</div>
                  <div class="qlist_tickettime">
                    <div class="qlist_tickettime_1">
                      {{ticket.tickettime_local_time}}
                    </div>
                    <div class="qlist_tickettime_2">
                      {{ticket.tickettime_local_date}}
                    </div>
                  </div>
                  <div>
                    <a class="btn btn-call" href="{% url 'softkeyget' pk ticket.id %}">Call</a>
                    <a class="btn btn-void" href="{% url 'softkeyvoid' pk ticket.id %}">Void</a>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          </div>

          <div class="qlist_item qlist_footer">
              
          </div>


        </div>
        
      </div>

      {{ data.counterstatus|json_script:"js-counterstatus"}}
      {{ wsh|json_script:"js-wsh" }}
      {{ pk|json_script:"js-pk" }}
      {{ data.bcode|json_script:"js-bcode" }}
      {{ data.countertype|json_script:"js-countertype"}}
      {{ data.tickettype|json_script:"js-tickettype" }}
      {{ data.ticketnumber|json_script:"js-ticketnumber" }}
      {{ waitinglist_show|json_script:"js-waitinglist_show" }}
      <script src="{% static 'js/softkey.js' %}"></script>
    </main>


      
{% endblock %}      



