{% extends 'main.html' %}
{% load tz %}
{% load static %}

{% block content %}

<h1 class="header_superv">
    <div class="">Branch : {{branch.name}}({{branch.bcode}})</div>
    <div class="header_superv_last">Last update: {{now|timezone:localtimezone}}</div>
</h1>

<div class="superv-container">
    <div>
        <h3>Ticket Printer Status:</h3>
        <table class="table-style">
            <thead>
                <tr>
                    <th>Printer</th>
                    <th>Paper status</th>
                </tr>
            </thead>
            <tbody>
            {% for printer in printerstatuslist %}
            <tr>
                <td>{{printer.printernumber}}</td>
                {% if printer.status == "<P_FINE>" %}
                    <td style="color:lightgreen" >{{printer.statustext}}</td>
                {% elif printer.status == "<P_NEAREND>" %}
                    <td style="color:yellow" >{{printer.statustext}}</td>
                {% elif printer.status == "<P_END>" %}
                    <td style="color:red" >{{printer.statustext}}</td>
                {% elif printer.status == "<OPEN>" %}
                    <td style="color:orange" >{{printer.statustext}}</td> 
                {% else %}
                    <td>{{printer.statustext}}</td> 
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <h3>Waiting Ticket: </h3>
        {% for table in qlist %}
        {% if table.count > 0 %}
        
            <h3>Counter: {{table.0.countertype.lang1}} ({{table.count}})</h3>
            <table class="table-style">
                <thead>
                    <tr>
                        <th>Ticket</th>
                        <th>Ticket Time</th>
                    </tr>
                </thead>
                <tbody>
                {% for ticket in table %}
                <tr>
                    <td>{{ticket.tickettype}}{{ticket.ticketnumber}}</td>                   
                    <td>{{ ticket.tickettime|timezone:localtimezone }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% endfor %}
    </div>

    <div>
        <h3>Counter Status: </h3>
       
       
            <table class="table-style">
                <thead>
                    <tr>
                        <th>Counter Type</th>
                        <th>Number</th>
                        <!-- <th>Enabled</th>                         -->
                        <th>Status</th>
                        <th>Ticket</th>
                        <th>Staff</th>
                        <th>Force</th>                  
                    </tr>
                </thead>
                <tbody>
                {% for table in counterstatus %}
                {% for counter in table %}
                <tr>
                    <td>{{ counter.countertype.lang1 }}</td>                   
                    <td>{{ counter.counternumber }}</td>
                    <!-- <td>{{ counter.enabled }}</td>                     -->
                    <td>{{ counter.status }}</td>
                    {% if counter.tickettemp == None %}
                        <td>---</td>
                    {% else %}
                        <td>{{ counter.tickettemp }}</td>
                    {% endif %}
                    {% if counter.user == None %}
                        <td>---</td>
                    {% else %}
                        <td>{{ counter.user }}</td>
                    {% endif %}
                    <form action="" method="POST">
                        {% csrf_token %}
                        <td style="border: 0;background-color:var(--color-bg)"><a class="btn btn--main" href="{% url 'forcelogout' branch.id counter.id %}">Logout</a></td>
                    </form>
                </tr>
                {% endfor %}
                {% endfor %}
                </tbody>
            </table>       
    </div>

    <div>
        <h3>Completed Ticket ({{donelist.count}})</h3>
        <table class="table-style">
            <thead>
                <tr>
                    <th>Ticket</th>
                    <th>Ticket Time</th>
                    <th>User</td>
                </tr>
            </thead>
            <tbody>
            {% for ticket in donelist %}
            <tr>
                <td>{{ticket.tickettype}}{{ticket.ticketnumber}}</td>                   
                <td>{{ ticket.tickettime|timezone:localtimezone }}</td>
                <td>{{ ticket.user }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <h3>No Show Ticket ({{misslist.count}}) </h3>
        <table class="table-style">
            <thead>
                <tr>
                    <th>Ticket</th>
                    <th>Ticket Time</th>
                    <th>User</td>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            {% for ticket in misslist %}
            <tr>
                <td>{{ticket.tickettype}}{{ticket.ticketnumber}}</td>                   
                <td>{{ ticket.tickettime|timezone:localtimezone }}</td>
                <td>{{ ticket.user }}</td>
                <td>{{ ticket.status }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>









</div>
{% endblock content %}
