{% extends 'main.html' %}

{% block content %}

    <main class="update-account layout">
        <div class="container">
            <div class="layout__box__form">
                <div class="layout__boxHeader">
                    <div class="layout__boxTitle">
                        <a href="{% url 'tfsummary' %}">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                viewBox="0 0 32 32">
                                <title>arrow-left</title>
                                <path
                                    d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                                </path>
                            </svg>
                        </a>
                        <h3>Edit Ticket Format</h3>
                    </div>
                </div>
                <div class="layout__body">

                    <form class="form" action="" method="POST" prefix="profileform">
                        
                        {% csrf_token %}
                        
                        {% for field in tfform %}
                        
                            {% if field.label == "Enabled" %}
                            
                                <div class="form__group_checkbox ">
                                    {{field}}<label for="profile_pic">&nbsp;Ticket Format Enabled</label>
                                </div>
                                
                            {% elif field.label == "Ttype" %}
                                <div class="form__group">
                                <label for="profile_pic">Ticket Type : {{field}}</label>
                                </div>
                            {% elif field.label == "Branch" %}
                            <div class="form__group">
                                <label for="profile_pic">Branch : {{field}}</label>
                                </div>
                            {% elif field.label == "Tformat" %}
                            <div class="form__group">
                                                                <label for="profile_pic">Ticket Format : {{field}}</label>
                                                                </div>
                            {% else %}
                            <div class="form__group">
                                <label for="profile_pic">{{field.label}} : {{field}}</label>                            
                                </div>
                            {% endif %}

                               
                        
                        {% endfor %}
                                                                


                        <div class="form__action">
                            <a class="btn btn--del" href="{% url 'delete-tf' ticketformat.id %}">Delete</a>
                            <a class="btn btn--dark" href="{% url 'tfsummary' %}">Cancel</a>
                            <button class="btn btn--main" type="submit">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
    </main>
    {% endblock content %}
