{% load static %}
<div class="roomArea">
{% for ticketformat in ticketformats %}
    <a href="{% url 'update-tf' ticketformat.id %}">
        <div class="roomListRoom">
            <div class="roomListRoom__header">
                <div class="roomListRoom__author">
                    <div class="list__svg">
                        {% include 'base/images/paper.svg' %}
                    </div>
                    <span>Ticket type : {{ticketformat.ttype}}</span>
                </div>
                <div class="roomListRoom__actions">
                    <span>Bcode : {{ticketformat.branch.bcode}}</span>
                </div>
            </div>
            <div class="roomListRoom__content">
                {{ticketformat.touchkey_lang1}} {{ticketformat.touchkey_lang2}} {{ticketformat.touchkey_lang3}} {{ticketformat.touchkey_lang4}}
            </div>

            <div class="roomListRoom__meta">
                <div class="roomListRoom__joined">
                    {% include 'base/images/branch.svg' %}

                    {{ticketformat.branch.name}} ({{ticketformat.branch.bcode}})
                </div>

                {% if ticketformat.enabled == False %}
                    <p class="roomListRoom__topic_red">
                        Disabled
                    </p>
                {% else %}
                    <p class="roomListRoom__topic">
                        Enabled
                    </p>
                {% endif %}
            </div>
        
        </div>
    </a>
    

{% endfor %}
</div>