{% extends 'main.html' %}
{% block content %}

    <main class="layout layout--2">
      <div class="container">
        <!-- Topics Start -->
        {% include 'base/menu.html' %}        
        <!-- Topics End -->

        <!-- Room List Start -->
        <div class="roomList">
          <div class="mobile-menu">
            <!-- <form class="mobile-header__search" action="{% url 'home' %}" method="GET">
              <label>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                  <title>search</title>
                  <path
                    d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z"
                  ></path>
                </svg>
                <input name="q" placeholder="Search for users" />
              </label>
            </form> -->
            <div class="mobile-menuItems">
              <!-- <a class="btn btn--main btn--pill" href="{-% url 'topics' %}">Browse Topics</a>
              <a class="btn btn--main btn--pill" href="{-% url 'activity' %}">Recent Activities</a> -->
              <a class="btn btn--main btn--pill" href="{% url 'menu' %}">Menu</a>          
            </div>
          </div>

          <div class="roomList__header">
            <div style="display: flex;">
              <div style="margin-right: 2rem;">            
                  <h2>Active</h2>
                  <p>{{users_active.count}} Users</p>
              </div>
              <div style="margin-right: 2rem;">
                <h2>Total</h2>
                <p>{{users.count}} Users</p>
              </div>
              <input type="button" class="btn btn--main" value="Show all" id="id_showall" style="height: 4rem; margin-top: 0.75rem;">
            </div>
            <!-- <a class="btn btn--main" href="{-% url 'create-room' %}"> -->

            <a class="btn btn--main" href="{% url 'user-list' %}" >                
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="64px" height="64px" viewBox="0 0 95.49 95.49">
                <g stroke-width="0"/>
                <g stroke-linecap="round" stroke-linejoin="round"/>
                <g> <g> <g> <circle cx="10.906" cy="17.294" r="10.906"/> <circle cx="10.906" cy="47.294" r="10.906"/> <circle cx="10.906" cy="78.2" r="10.906"/> <g> <path d="M34.258,24.43h59.236c0.529,0,1.039-0.211,1.414-0.586s0.586-0.884,0.586-1.414l-0.002-10.271c0-1.104-0.896-2-2-2 H34.258c-1.104,0-2,0.896-2,2V22.43C32.258,23.534,33.153,24.43,34.258,24.43z"/> <path d="M93.492,40.158H34.258c-1.104,0-2,0.896-2,2v10.271c0,1.104,0.896,2,2,2h59.236c0.529,0,1.039-0.211,1.414-0.586 s0.586-0.885,0.586-1.414l-0.002-10.271C95.492,41.054,94.598,40.158,93.492,40.158z"/> <path d="M93.492,71.064H34.258c-1.104,0-2,0.896-2,2v10.271c0,1.104,0.896,2,2,2h59.236c0.529,0,1.039-0.211,1.414-0.586 s0.586-0.885,0.586-1.414l-0.002-10.271C95.492,71.96,94.598,71.064,93.492,71.064z"/> </g> </g> </g> </g>
              </svg>
              List view
            </a>                 


            <a class="btn btn--main" href="{% url 'new-user' %}" >                
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <title>add</title>
                <path
                  d="M16.943 0.943h-1.885v14.115h-14.115v1.885h14.115v14.115h1.885v-14.115h14.115v-1.885h-14.115v-14.115z"
                ></path>
              </svg>
              Add User
            </a>   
                     
          </div>
          <div id="userlistarea">
            {% include 'base/userlist.html' %}  
          </div>
        </div>
        <!-- Room List End -->

        <!-- Activities Start -->
        <!-- <div> -->
            <!-- {-% include 'base/userlist.html' %}   -->
        <!-- </div> -->
        

        <!-- Activities End -->
      </div>
<!-- add javascript here link button  id="id_showall" -->

<script>
  // <!-- globle variable : b_showall is bool -->
  var b_showall = false;
  var btn_listshow = document.getElementById('id_showall');

  btn_listshow.addEventListener('click', function() {
          b_showall = true;
          // replace all class="roomListRoom__hide" to class="roomListRoom"
          var elementArray;
          elementArray = document.getElementsByClassName("roomListRoom__hide");
          while (elementArray.length) {
            elementArray[0].className = "roomListRoom";
          }
        });
  
</script>
{% endblock %}      


