{% load static %}
<div class="roomArea">
{% for user in users %}
{% for prof in profiles %}
    {% if user == prof.user %}
    {% if user.is_active == True %}
    <a href="{% url 'update-user' user.id %}" >
    <div class="roomListRoom" >
    {% else %}
    <a href="{% url 'update-user' user.id %}">
    <div class="roomListRoom__hide">
    {% endif %}
        <div class="roomListRoom__header">
            <div class="roomListRoom__author">               
                {% if user.is_active == True %}
                    <div class="avatar avatar--small active">
                        <img src="{% static 'images/avatar.svg' %}" />
                    </div>
                    <span>{{user.username}}</span>
                {% else %}
                    <div class="avatar avatar--small">
                        <img src="{% static 'images/avatar.svg' %}" />
                    </div>
                    <span>{{user.username}} (User disabled)</span>
                {% endif %}
            </div>
            <div class="roomListRoom__actions">
                <span>Ticket types: {{prof.tickettype}}</span>
            </div>
        </div>
        <div class="roomListRoom__content">
            {{user.first_name}} {{user.last_name}} 
            {% if user.email|length > 0 %} 
                (e-mail : {{user.email}})
            {% endif %}
        </div>
        <div class="roomListRoom__meta">
            <div class="roomListRoom__joined">

                {% include 'base/images/branch.svg' %}

                Branchs:
                {% for bname in prof.branchs.filter %}
                    {{bname.bcode}}
                {% endfor %}
                ({{prof.branchs.filter.count}})
            </div>
            <p class="roomListRoom__topic">
                {% for usergroup in user.groups.filter %}
                    {{usergroup}}
                {% endfor %}
            </p>
        </div>
    </div>
    </a>
    {% endif %}
{% endfor %}
{% endfor %}

</div>