{% extends 'base/webtv_header.html'%}
{% block content %}
    <div class="cancel_container">
        <div class="cancel_back_container">
            

            
            <a class="cancel_back" href="{{backurl}}">
                <svg class="cancel_back" fill="#ffffff" stroke="white"; version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                    viewBox="0 0 32 32">
                    <title>Back</title>
                    <path 
                        d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                    </path>                    
                </svg>
            </a>
            <a class="cancel_back2" href="{{backurl}}">Back</a>
                        
            
        </div>
        
        <form class="cancel_block" action="" method="POST">
            {% if errormsg == "" %}   
                {% csrf_token %}
                <div class="cancel_title">
                    你確定取消飛仔？
                    <br>
                    Are you sure cancel ticket?
                </div>     
                
                <input class="buttonconfirm" type="submit" value="確定 Confirm"  />
            {% else %}

            {% endif %}
        </form>

        
       
    </div>
    <div class="powered">Powered by tsvd.com.hk</div>
{% endblock content %}