{% extends 'base/webtv_header.html'%}
{% block content %}



    <!-- my ticket -->
    {% if errormsg == '' %}
        <div id="id_hidden" hidden>
            <div id="id_counter">
                <div class="counter">
                    <div class="countertype" >
                        <div class="countertext_myticket">---</div>
                        <div class="countertext_myticket">---</div>
                    </div>
                    <div class="counternumber">-</div>
                </div>
            </div>
            <div id="id_buttoncancel">                    
                <a class="buttoncancel" href="{% url 'cancelticket' tickettemp.id tickettemp.securitycode %}">取消 Cancel</a>                     
            </div>
        </div>

        <div class="container_myticket_main">
            <div class="status">
                <div class="vertical-center">
                    我的飛仔 My ticket
                </div>                    
            </div>
            <div  class="container_myticket" >
                
                <div class="ticketno_myticket">
                    {{tickettemp.tickettype_disp}}{{tickettemp.ticketnumber_disp}}
                    <div class="tickettime">
                        {{tickettime}}
                    </div>
                </div>
            

                <div class="container_status">
                    <div  class="statustype" >Status :</div>
                    {% if tickettemp.status == "waiting" %}
                        <div class="statustext">等待中<br>Waiting</div>
                    {% elif tickettemp.status == "calling" %}
                        <div class="statustext">到你了<br>Calling you</div>
                    {% elif tickettemp.status == "processing" %}
                        <div class="statustext">到你了<br>Calling you</div>
                    {% elif tickettemp.status == "done" %}
                        <div class="statustext">完成了<br>Completed</div>
                    {% elif tickettemp.status == "miss" %}
                        <div class="statustext">過了<br>No show</div>
                    {% elif tickettemp.status == "void" %}
                        <div class="statustext">取消了<br>Cancelled</div>
                    {% endif %}
                </div>

                <div id="id_counter_area" class="counter">                
                    {% if tickettemp.status != "waiting" %}
                        <div class="counter">
                            <div class="countertype" >
                                <div class="countertext_myticket">{{tickettemp.countertype.lang1}}</div>
                                <div class="countertext_myticket">{{tickettemp.countertype.lang2}}</div>
                            </div>
                            <div class="counternumber">{{counter}}</div>
                        </div>
                    {% endif %}

                    {% if tickettemp.status == "waiting" %}
                        <a class="buttoncancel" href="{% url 'cancelticket' tickettemp.id tickettemp.securitycode %}">取消 Cancel</a>                     
                        <!-- <button type="button" class="buttoncancel" href="{% url 'cancelticket' tickettemp.id tickettemp.securitycode %}">
                            <a>Click here!</a>
                        </button> -->
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="container_myticket_main">
                   
            <div class="status">
                <div class="vertical-center">
                    我的飛仔 My ticket
                </div>                    
            </div>
            <div  class="container_myticket" >
                <div class="ticketno_myticket">
                    - - -
                </div>
                <div class="container_status">
                    <div  class="statustype" >Status :</div>
                    <div  class="statustext">---</div>
                </div>
                <div class="counter">                                    
                    <div class="counter">
                        <div class="countertype" >
                            <div class="countertext_myticket">---</div>
                            <div class="countertext_myticket">---</div>
                        </div>
                        <div class="counternumber">--</div>
                    </div>
                </div>
                <!-- <button class="button buttoncancel">取消 Cancel</button> -->
            </div>
        </div>
    {% endif %}


    <div class="scroll">
        <marquee class="vertical-center" behavior="scroll" direction="left">{{scroll}}</marquee>
    </div>

    <div class="status">
        <div class="vertical-center">
            輪候狀況 Queue Status
        </div>
        
    </div>


    <div id="calling_area">
    {% for ticketrow in ticketlist %}      
    
        <div class="container_calling">
            <div class="ticketno">
                {{ticketrow.tickettype}}{{ticketrow.ticketnumber}}
            </div>

            <i class="arrow icofont-circled-right icofont-3x"></i>
        
            <div class="counter">
                <div class="countertype" >
                    <div class="countertext">{{ticketrow.ct_lang1}}</div>
                    <div class="countertext">{{ticketrow.ct_lang2}}</div>
                </div>
                <div class="counternumber">{{ticketrow.counternumber}}</div>
            </div>
            
            <div class="numberCircle">
                {{ticketrow.wait}}
            </div>  
        </div>

    {% endfor %}
    </div>


    <div class="powered">Powered by tsvd.com.hk</div>

    {{ app_name|json_script:"js-app_name" }}
    {{ wsh|json_script:"js-wsh" }}
    {{ bcode|json_script:"js-bcode" }}
    {{ countertype.name|json_script:"js-ct" }}
    {{ tickettemp.tickettype|json_script:"js-ttype" }}
    {{ tickettemp.ticketnumber|json_script:"js-tno" }}
    {{ tickettemp.securitycode|json_script:"js-sc" }}
    
    <script>
        const c_app_name = JSON.parse(document.getElementById('js-app_name').textContent);
        var ticketlist = [];
        const c_wsh = JSON.parse(document.getElementById('js-wsh').textContent);
        const c_bcode = JSON.parse(document.getElementById('js-bcode').textContent);
        const c_ct = JSON.parse(document.getElementById('js-ct').textContent);
        const c_ttype = JSON.parse(document.getElementById('js-ttype').textContent);
        const c_tno = JSON.parse(document.getElementById('js-tno').textContent);
        const c_sc = JSON.parse(document.getElementById('js-sc').textContent);

        var cmd = "";
        var cancelhtml = document.getElementById("id_buttoncancel").innerHTML;
        var counterhtml = document.getElementById("id_counter").innerHTML;
        document.getElementById("id_hidden").innerHTML = ``;

        // document.querySelectorAll(".status > .vertical-center")[0].innerHTML =window.location.host ;
        //document.querySelectorAll(".status")[0].innerHTML =<marquee behavior="scroll" direction="left">window.location.host</marquee> ;
        // const containers = document.getElementsByClassName("container_calling");
        // const numContainers = containers.length;
        // console.log(numContainers); // Output: 3

        // var cc1 = document.getElementsByClassName('container_calling')[0].innerHTML;
        // console.log(cc1);

        const WebTVSocket = new WebSocket(
            c_wsh
            + window.location.host
            + '/ws/'
            + c_app_name
            + '/wtv/'
            + c_bcode
            + '/'
            + c_ct
            + '/'
        );

        WebTVSocket.onmessage = function(e) {
            // console.log('Received data:', e.data);
            const rxdata = JSON.parse(e.data);
            // console.log('Parsed data:', data);
            // document.querySelectorAll(".status > .vertical-center")[0].innerHTML = data.lastupdate;
            cmd = rxdata.cmd;
            if (cmd == 'list5') {
                const data = rxdata.data;

                document.querySelectorAll(".scroll > .vertical-center")[0].innerHTML = data.scroll;
                document.querySelector('#ws-lastupdate').innerHTML = data.lastupdate;
                document.querySelector('#calling_area').innerHTML = ``;

                ticketlist = data.ticketlist;
                for (var i = 0; i < ticketlist.length; i++) {
                    var obj = ticketlist[i];

                    document.querySelector('#calling_area').innerHTML = 
                    document.querySelector('#calling_area').innerHTML +
                    `<div class="container_calling">
                        <div class="ticketno">` + 
                            obj.tickettype + obj.ticketnumber +
                        `</div>

                        <i class="arrow icofont-circled-right icofont-3x"></i>

                        <div class="counter">
                            <div class="countertype" >
                                <div class="countertext">`
                                    + obj.ct_lang1 +
                                `</div> 
                                <div class="countertext">`
                                    + obj.ct_lang2 +
                                `</div>
                            </div>
                            <div class="counternumber">`
                                + obj.counternumber +
                            `</div>
                        </div>

                        <div class="numberCircle">` +
                            obj.wait +
                        `</div>
                    </div>`;
                }
            }            
        };
        WebTVSocket.onclose = function(e) {
            console.error('WebTV socket closed unexpectedly');
        };
        // ws://127.0.0.1:8000/ws/APP_NAME/tstatus/KB/A/123/sc/
        const ticketstatusSocket = new WebSocket(
            c_wsh
            + window.location.host
            + '/ws/'
            + c_app_name
            + '/tstatus/'
            + c_bcode
            + '/'
            + c_ttype
            + '/'
            + c_tno
            + '/'
            + c_sc
            + '/'
        );
        ticketstatusSocket.onmessage = function(e) {
            // console.log('Received data:', e.data);
            const rxdata = JSON.parse(e.data);
            // console.log('Parsed data:', data);
            // document.querySelectorAll(".status > .vertical-center")[0].innerHTML = data.lastupdate;
            cmd = rxdata.cmd;
            if (cmd == 'tstatus') {             
                const data = rxdata.data;
                var status = data.status;

                var updatestatus = "";
                document.getElementById("id_counter_area").innerHTML = counterhtml;
                document.querySelectorAll(".counter > .countertype > .countertext_myticket")[0].innerHTML = data.counterlang1;
                document.querySelectorAll(".counter > .countertype > .countertext_myticket")[1].innerHTML = data.counterlang2;
                document.querySelectorAll(".counter > .counternumber")[0].innerHTML = data.counternumber;

                if (status=='waiting') {
                    // statustext = '等待中<br>Waiting';
                    // document.getElementById("id_counter_area").innerHTML = cancelhtml;
                    location.reload();
                }else if (status == 'calling') {
                    statustext = '到你了<br>Calling you';
                }else if (status == 'processing') {
                    statustext = '到你了<br>Calling you';
                }else if (status == 'done') {
                    statustext = '完成了<br>Completed';
                }else if (status == 'miss') {
                    statustext = '過了<br>No show';
                }else if (status == 'void') {
                    statustext = '取消了<br>Cancelled';
                }
                const allstatustext = document.getElementsByClassName("statustext");
                const allstatustextcount = allstatustext.length;
                for ( var i = 0; i < allstatustextcount; i++) {
                    allstatustext[i].innerHTML = statustext;
                }

            }            
        };
        ticketstatusSocket.onclose = function(e) {
            console.error('TicketStatus socket closed unexpectedly');
        }; 
    
    
    </script>


{% endblock content %}
