<!DOCTYPE html>
{% load static %}
{% block content %}
<html lang="en" wtx-context="09728656-8D5D-490C-859F-AA96B861844B">
    <head>
        <meta http-equiv="refresh" content="10" >
        <meta charset="utf-8">
        <title>TSVD Ticketing System</title>
        <base href=".">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" /> 
        <link rel="stylesheet" href="{% static 'styles/stylerepair.css' %}" >
    </head>


    <body>
        <div id="body">
            <header>
                <img class="logo" src="{% static logofile %}">
                <div class="col1">
                    <div class="updatetime">
                       {{lastupdate}} 
                    </div>
                    <img class="reload" alt="Reload" onClick="window.location.href=window.location.href" src="{% static 'images/reload.png' %}">
                </div>
                
            </header>





            <!-- my ticket -->
            <div class="container_myticket_main">
                <div class="status">
                    <div class="vertical-center">
                        我的維修單號 My Repair note:
                    </div>                    
                </div>
                <div  class="container_myticket" >
                    <div class="ticketno">
                        R00124
                    </div>
                    <div  class="container_status">
                        <div  class="statustype" >Status :</div>
                        <div  class="statustext">維修中 Repairing</div>
                        <!-- <div  class="statustext">維修完成 <p></p>Repair completed</div> -->
                    </div>
                </div>
                <div class="status">
                    <div class="vertical-center">
                        請隨時回來取貨 Please come back for pickup
                    </div>                    
                </div>
            </div>




            <div class="powered">Powered by tsvd.com.hk</div>

        </div>

    </body></html>

    {% endblock content %}
