{% extends 'base/webtv_header.html'%}
{% block content %}

    <div class="status">
        <div class="vertical-center">
            輪候狀況 Queue Status
        </div>
        
    </div>

   
    
    {% for ticketrow in ticketlist %}            
        <div  class="container_calling" >
            <div class="ticketno">
                {{ticketrow.tickettemp.tickettype}}{{ticketrow.tickettemp.ticketnumber}}
            </div>
            <div class="counter">
                <div class="countertype" >{{ticketrow.countertype.lang1}} {{ticketrow.countertype.lang2}}</div>
                <div class="counternumber">{{ticketrow.counternumber}}</div>
            </div>
        </div>    
    {% endfor %}



    <div class="powered">Powered by tsvd.com.hk</div>
    
    <textarea id="chat-log" cols="50" rows="10"></textarea>

    {{ bcode|json_script:"js-bcode" }}
    {{ ct|json_script:"js-ct" }}
    <script>
        const c_bcode = JSON.parse(document.getElementById('js-bcode').textContent);
        const c_ct = JSON.parse(document.getElementById('js-ct').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/webtv/'
            + c_bcode
            + '/'
            + c_ct
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.lastupdate+ '\n');
            // document.querySelector('#chat-log').value += ('testing' + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };        
    </script>



{% endblock content %}
