<!DOCTYPE html>
{% load static %}
{% block content %}
<html lang="en" wtx-context="09728656-8D5D-490C-859F-AA96B861844B">
    <head>
        <meta http-equiv="refresh" content="10" >
        <meta charset="utf-8">
        <title>TSVD Ticketing System</title>
        <base href=".">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" /> 
        <link rel="stylesheet" href="{% static 'styles/styletv2.css' %}" >
    </head>


    <body>
        <div id="body">
            <header>
                <img class="logo" src="{% static logofile %}">
                <div class="col1">
                    <div class="updatetime">
                       {{lastupdate}} 
                    </div>
                    <img class="reload" alt="Reload" onClick="window.location.href=window.location.href" src="{% static 'images/reload.png' %}">
                </div>
                
            </header>
            <div class="status">
                <div class="vertical-center">
                    輪候狀況 Queue Status
                  </div>
                
            </div>


            {% for ticketrow in ticketlist %}            
                <div  class="container_calling" >
                    <div class="ticketno">
                        {{ticketrow.tickettemp.tickettype}}{{ticketrow.tickettemp.ticketnumber}}
                    </div>
                    <div class="counter">
                        <div class="countertype" >{{ticketrow.countertype.lang1}} {{ticketrow.countertype.lang2}}</div>
                        <div class="counternumber">{{ticketrow.counternumber}}</div>
                    </div>
                </div>    
            {% endfor %}


            <div  class="container_calling" >
                <div class="ticketno">
                    A123
                </div>
                <div  class="counter">
                    <div  class="countertype" >Counter 櫃台</div>
                    <div  class="counternumber">9</div>
                </div>
            </div>
            <div  class="container_calling" >
                <div class="ticketno">
                    A9
                </div>
                <div  class="counter">
                    <div  class="countertype" >Counter 櫃台</div>
                    <div  class="counternumber">9</div>
                </div>
            </div>           
            <div  class="container_calling" >
                <div class="ticketno">
                    A99
                </div>
                <div  class="counter">
                    <div  class="countertype" >Counter 櫃台</div>
                    <div  class="counternumber">9</div>
                </div>
            </div>  
            <div  class="container_calling" >
                <div class="ticketno">
                    A999
                </div>
                <div  class="counter">
                    <div  class="countertype" >Counter 櫃台</div>
                    <div  class="counternumber">9</div>
                </div>
            </div>  
            <div  class="container_calling" >
                <div class="ticketno">
                    A999
                </div>
                <div  class="counter">
                    <div  class="countertype" >Counter 櫃台</div>
                    <div  class="counternumber">9</div>
                </div>
            </div>  
            <div  class="container_calling" >
                <div class="ticketno">
                    A999
                </div>
                <div  class="counter">
                    <div  class="countertype" >Counter 櫃台</div>
                    <div  class="counternumber">9</div>
                </div>
            </div>  
            <div  class="container_calling" >
                <div class="ticketno">
                    A999
                </div>
                <div  class="counter">
                    <div  class="countertype" >Counter 櫃台</div>
                    <div  class="counternumber">9</div>
                </div>
            </div>  
            <div  class="container_calling" >
                <div class="ticketno">
                    A999
                </div>
                <div  class="counter">
                    <div  class="countertype" >Counter 櫃台</div>
                    <div  class="counternumber">9</div>
                </div>
            </div>  
            <div  class="container_calling" >
                <div class="ticketno">
                    A999
                </div>
                <div  class="counter">
                    <div  class="countertype" >Counter 櫃台</div>
                    <div  class="counternumber">9</div>
                </div>
            </div>  
            <div  class="container_calling" >
                <div class="ticketno">
                    A999
                </div>
                <div  class="counter">
                    <div  class="countertype" >Counter 櫃台</div>
                    <div  class="counternumber">9</div>
                </div>
            </div> 
            <div  class="container_calling" >
                <div class="ticketno">
                    A999
                </div>
                <div  class="counter">
                    <div  class="countertype" >Counter 櫃台</div>
                    <div  class="counternumber">9</div>
                </div>
            </div> 
            <div  class="container_calling" >
                <div class="ticketno">
                    A999
                </div>
                <div  class="counter">
                    <div  class="countertype" >Counter 櫃台</div>
                    <div  class="counternumber">9</div>
                </div>
            </div> 
            <div  class="container_calling" >
                <div class="ticketno">
                    A999
                </div>
                <div  class="counter">
                    <div  class="countertype" >Counter 櫃台</div>
                    <div  class="counternumber">9</div>
                </div>
            </div> 
            <div  class="container_calling" >
                <div class="ticketno">
                    A999
                </div>
                <div  class="counter">
                    <div  class="countertype" >Counter 櫃台</div>
                    <div  class="counternumber">9</div>
                </div>
            </div> 
            <div  class="container_calling" >
                <div class="ticketno">
                    A999
                </div>
                <div  class="counter">
                    <div  class="countertype" >Counter 櫃台</div>
                    <div  class="counternumber">9</div>
                </div>
            </div> 

            <div class="powered">Powered by tsvd.com.hk</div>

        </div>

    </body></html>

    {% endblock content %}
