{% extends 'base/webtv_header.html'%}
{% block content %}

    <div class="status">
        <div class="vertical-center">
            輪候狀況 Queue Status
        </div>
        
    </div>

   
    
    {% for ticketrow in ticketlist %}            
        <div  class="container_calling" >
            <div class="ticketno">
                {{ticketrow.tickettemp.tickettype}}{{ticketrow.tickettemp.ticketnumber}}
            </div>
            <div class="counter">
                <div class="countertype" >{{ticketrow.countertype.lang1}} {{ticketrow.countertype.lang2}}</div>
                <div class="counternumber">{{ticketrow.counternumber}}</div>
            </div>
            <!-- 
            <div>
                <div class="countertype">Waiting list</div>
                <div id="cc1_wait" class="counternumber">{{ticketlist.0.wait}}</div>
            </div>
            -->
        </div>    
    {% endfor %}
    <div id="cc1" class="container_calling" >
        <div id="cc1_no" class="ticketno">
            {{ticketlist.0.tickettemp.tickettype}}{{ticketlist.0.tickettemp.ticketnumber}}
        </div>
        <div class="counter">
            <div id="cc1_ct" class="countertype" >{{ticketlist.0.countertype.lang1}} {{ticketlist.0.countertype.lang2}}</div>
            <div id="cc1_cno" class="counternumber">{{ticketlist.0.counternumber}}</div>            
        </div>
        <!-- 
        <div>
            <div class="countertype">Waiting list</div>
            <div id="cc1_wait" class="counternumber">{{ticketlist.0.wait}}</div>
        </div>
        -->
    </div>
    <div id="cc2" class="container_calling" >
        <div id="cc2_no" class="ticketno">
            {{ticketlist.1.tickettemp.tickettype}}{{ticketlist.1.tickettemp.ticketnumber}}
        </div>
        <div class="counter">
            <div id="cc2_ct" class="countertype" >{{ticketlist.1.countertype.lang1}} {{ticketlist.1.countertype.lang2}}</div>
            <div id="cc2_cno" class="counternumber">{{ticketlist.1.counternumber}}</div>            
        </div>
    </div>
    <div id="cc3" class="container_calling" >
        <div id="cc3_no" class="ticketno">
            {{ticketlist.2.tickettemp.tickettype}}{{ticketlist.2.tickettemp.ticketnumber}}
        </div>
        <div class="counter">
            <div id="cc3_ct" class="countertype" >{{ticketlist.2.countertype.lang1}} {{ticketlist.2.countertype.lang2}}</div>
            <div id="cc3_cno" class="counternumber">{{ticketlist.2.counternumber}}</div>            
        </div>
    </div>
    <div id="cc4" class="container_calling" >
        <div id="cc4_no" class="ticketno">
            {{ticketlist.3.tickettemp.tickettype}}{{ticketlist.3.tickettemp.ticketnumber}}
        </div>
        <div class="counter">
            <div id="cc4_ct" class="countertype" >{{ticketlist.3.countertype.lang1}} {{ticketlist.3.countertype.lang2}}</div>
            <div id="cc4_cno" class="counternumber">{{ticketlist.3.counternumber}}</div>            
        </div>
    </div>
    <div id="cc5" class="container_calling" >
        <div id="cc5_no" class="ticketno">
            {{ticketlist.4.tickettemp.tickettype}}{{ticketlist.4.tickettemp.ticketnumber}}
        </div>
        <div class="counter">
            <div id="cc5_ct" class="countertype" >{{ticketlist.4.countertype.lang1}} {{ticketlist.4.countertype.lang2}}</div>
            <div id="cc5_cno" class="counternumber">{{ticketlist.4.counternumber}}</div>            
        </div>
    </div>


    <div class="powered">Powered by tsvd.com.hk</div>

    {{ bcode|json_script:"js-bcode" }}
    {{ ct|json_script:"js-ct" }}
    <script>
        var ticketlist = [];
        const c_bcode = JSON.parse(document.getElementById('js-bcode').textContent);
        const c_ct = JSON.parse(document.getElementById('js-ct').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/webtv/'
            + c_bcode
            + '/'
            + c_ct
            + '/'
        );

        chatSocket.onmessage = function(e) {
            console.log('Received data:', e.data);
            const data = JSON.parse(e.data);
            console.log('Parsed data:', data);

            document.querySelector('#ws-lastupdate').innerHTML = data.lastupdate;

            ticketlist = JSON.parse(data.ticketlist);
            console.log(data.ticketlist);
            for (var i = 0; i < ticketlist.length; i++) {
                var obj = ticketlist[i];
                console.log("Ticket Type: " + obj.tickettype);
                console.log("Ticket Number: " + obj.ticketnumber);
                console.log("Language 1: " + obj.lang1);
                console.log("Language 2: " + obj.lang2);
                console.log("Counter Number: " + obj.counternumber);
                console.log("Wait Time: " + obj.wait);
            }
            // document.querySelector('#chat-log').value += ('testing' + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };        
    </script>



{% endblock content %}
