{% extends 'base/webtv_header.html'%}
{% block content %}

    <div class="status">
        <div class="vertical-center">
            請選擇服務:
        </div>
    </div>
    <div class="status">
        <div class="vertical-center">
            Please choose service:
        </div>
    </div>

    
    <form action="" method="POST">
        {% csrf_token %}
        {% for key in touchkeylist %}
            <div class="container_touchkey">
                <button class="buttontouchkey" type="submit" name={{key.ttype}}>{{key.touchkey_lang1}}<br>{{key.touchkey_lang2}}</button>
            </div>
        {% endfor %}
    </form>



    <div class="powered">Powered by tsvd.com.hk</div>




{% endblock content %}
