<!DOCTYPE html>
{% load static %}
<html lang="en" wtx-context="09728656-8D5D-490C-859F-AA96B861844B">
    <head>
        <meta charset="utf-8">
        <title>TSVD Ticketing System</title>
        <base href=".">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" /> 
        <link rel="stylesheet" href="{% static 'styles/styletv2.css' %}" >
    </head>


    <body>


    
        <header>
            <img class="logo" src="{% static logofile %}">
            <div class="col1">
                <div class="updatetime">
                    {{lastupdate}} 
                </div>
                <img class="reload" alt="Reload" onClick="window.location.href=window.location.href" src="{% static 'images/reload_o.png' %}">
            </div>                
        </header>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="{{message.tags}}">
                        {{ message }}
                    </div>

                {% endfor %}
            </ul>
        {% endif %}

        {% block content %}
        {% endblock %}

    </body>
</html>